/*------------google fonts links-------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 245, 245);
}

:root {
  --theme-color: rgb(11, 71, 127);
  --btn-bg-hover: rgb(209, 223, 222);
  --primary-color: rgb(29, 7, 47);
  --secondary-color: rgb(23, 1, 43);
  --bg-color: white;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: auto;
  position: relative;
}



/* -------------about-section-banner start ------------------ */

.about-section-banner {
  margin-bottom: 50px;
  height: 100%;
  align-items: center;
}

.about-section-banner .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 ;
}

.about-section-banner .row .left {
  width: 45%;
  flex-basis: 500px;
  text-align: left;
}

.about-section-banner .row .left .heading {
  margin-bottom: 15px;
}

.about-section-banner .row .left h1 {
  font-size: 50px;
  font-weight: 600;
  color: rgb(29, 7, 47);
}

.about-section-banner .row .left .para p {
  font-size: 18px;
  line-height: 28px;
}

.about-section-banner .row .right {
  width: 50%;
  height: 100%;
  flex-basis: 500px;
}

.about-section-banner .row .right .right-banner {
  width: 100%;
  height: 100%;
}

.about-section-banner .row .right .right-banner img {
  width: 100%;
  height: 100%
}

/* -------------about-section start ------------------ */
.about-section {
  margin-bottom: 50px;
  padding: 80px 0;
  display: flex;
  align-items: center;
}

.about-section .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-section .row .left {
  flex-basis: 45%;
}

.about-section .row .left .img {
  width: 100%;
  height: 100%;
}

.about-section .row .left .img img {
  width: 90%;
}

.about-section .row .right {
  flex-basis: 45%;
  text-align: left;
}

.about-section .row .right .heading {
  margin-bottom: 5px;
}

.about-section .row .right .sub-heading {
  margin-bottom: 20px;
}

.about-section .row .right .heading h3 {
  font-size: 20px;
  color: var(--secondary-color);
}

.about-section .row .right .sub-heading h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--primary-color);
}

.about-section .row .right .para p {
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  color: var(--secondary-color);
}

/* -------------our-latest-work-section start ------------------ */
.our-latest-work {
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.our-latest-work .row {}

.our-latest-work .row .head {
  margin-bottom: 20px;
}

.our-latest-work .row .head h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.our-latest-work .row .head p {
  font-size: 35px;
  color: var(--primary-color);
  font-weight: 600;
}

.our-latest-work .row .work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.our-latest-work .row .work-container .work-75w {
  width: 75%;
  flex-basis: 60%;
  max-height: 400px;
  margin: 30px 0;
  text-align: left;
  border-radius: 10px;
}

.our-latest-work .row .work-container .work-25w {
  width: 25%;
  flex-basis: 30%;
  max-height: 400px;
  margin: 30px 0;
  border-radius: 10px;
}

.our-latest-work .row .work-container .img {
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px grey;
}

.our-latest-work .row .work-container .img:hover img {
  transform: perspective(900px) translateZ(-20px) rotateX(-20deg);
}

.our-latest-work .row .work-container .img img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.our-latest-work .row .work-container .heading {
  text-align: left;
  margin-bottom: 10px;
}

.our-latest-work .row .work-container .heading h2 {
  color: var(--primary-color);
  font-weight: 500;
}

.our-latest-work .row .work-container .work-title {
  text-align: left;
  color: var(--secondary-color);
}


/*------------------------media query start---------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {

  .container {
    width: 85%;
    margin: auto;
    position: relative;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) and (max-width:1200px) {

  .container {
    width: 90%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:1024px) {

  .container {
    width: 95%;
  }


  .about-section .row .right .heading {
    margin-bottom: 2px;
  }
  
  .about-section .row .right .sub-heading {
    margin-bottom: 10px;
  }
  
  .about-section .row .right .heading h3 {
    font-size: 15px;
  }
  
  .about-section .row .right .sub-heading h2 {
    font-size: 30px;
    font-weight: 500;
    color: blueviolet;
  }  
  .about-section .row .right .para p {
    font-size: 15px;
    line-height: 22px;
  }

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) {
  .toggle-btn {
    display: block;
  }
  .container {
    width: 95%;
    margin: auto;
  }

  .about-section-banner .row {
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
  }
  
  .about-section-banner .row .left {
    width: 45%;
    flex-basis: 100%;
    text-align: left;
    margin-bottom:20px;
  }
  
  .about-section-banner .row .left .heading {
    margin-bottom: 10px;
  }
  
  .about-section-banner .row .left h1 {
    font-size: 35px;
    font-weight: 600;
    color: blueviolet;
  }
  
  .about-section-banner .row .left .para p {
    font-size: 16px;
    line-height: 22px;
  }
  
  .about-section-banner .row .right {
    flex-basis: 100%;
  }
  
  .about-section-banner .row .right .right-banner {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .about-section-banner .row .right .right-banner img {
    width: 80%;
    height: 100%
  }

  .about-section {
    margin-bottom: 50px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    background: rgb(255, 253, 253);
  }
  
  .about-section .row {
    flex-wrap: wrap;
  }
  
  .about-section .row .left {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .about-section .row .left .img {
    width: 100%;
    height: 100%;
  }
  
  .about-section .row .left .img img {
    width: 80%;
  }

  .about-section .row .right{
    flex-basis: 100%;
  }
  .about-section .row .right .heading {
    margin-bottom: 2px;
  }
  
  .about-section .row .right .sub-heading {
    margin-bottom: 10px;
  }
  
  .about-section .row .right .heading h3 {
    font-size: 15px;
  }
  
  .about-section .row .right .sub-heading h2 {
    font-size: 30px;
    font-weight: 500;
    color: blueviolet;
  }  
  .about-section .row .right .para p {
    font-size: 15px;
    line-height: 22px;
  }

  /* -------------our-latest-work-section start ------------------ */
.our-latest-work {
  padding-bottom: 20px;
  margin-bottom: 100px;
}

.our-latest-work .row .head {
  margin-bottom:10px;
}

.our-latest-work .row .head h3 {
  font-size: 17px;
  margin-bottom: 10px;
}

.our-latest-work .row .head p {
  font-size: 30px;
  font-weight: 500;
}

.our-latest-work .row .work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.our-latest-work .row .work-container .work-75w {
  flex-basis: 100%;
  max-height: 400px;
  margin: 15px 0;
  text-align: left;
  border-radius: 10px;
}

.our-latest-work .row .work-container .work-25w {
  flex-basis: 100%;
  max-height: 100%;
  margin: 15px 0;
  border-radius: 10px;
}

.our-latest-work .row .work-container .img {
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px grey;
}

.our-latest-work .row .work-container .img:hover img {
  transform: perspective(900px) translateZ(-20px) rotateX(-20deg);
}

.our-latest-work .row .work-container .img img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.our-latest-work .row .work-container .heading {
  text-align: left;
  margin-bottom: 5px;
}

.our-latest-work .row .work-container .heading h2 {
  color: blueviolet;
  font-size: 20px;
  font-weight: 500;
}

.our-latest-work .row .work-container .work-title {
  text-align: left;
  font-size: 15px;
}

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
  .container {
    width: 100%;
  }
  .row{
    padding: 2px;
  }
 

  .about-section-banner .row {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 2px;
  }
  
  .about-section-banner .row .left {
    margin: auto;
    flex-basis: 100%;
    text-align: left;
    margin-bottom:20px;
  }
  
  .about-section-banner .row .left .heading {
    margin-bottom: 10px;
  }
  
  .about-section-banner .row .left h1 {
    font-size: 30px;
    font-weight: 500;
    color: blueviolet;
  }
  
  .about-section-banner .row .left .para p {
    font-size: 15px;
    line-height: 22px;
  }
  
  .about-section-banner .row .right {
    flex-basis: 100%;
  }
  
  .about-section-banner .row .right .right-banner {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .about-section-banner .row .right .right-banner img {
    width: 80%;
    height: 100%
  }
}

/*------------------------media query end---------------------*/