/*------------google fonts links-------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 245, 245);
}
:root{
  --theme-color: rgb(11, 71, 127);
  --btn-bg-hover:rgb(209, 223, 222);
  --primary-color: rgb(29, 7, 47);
  --secondary-color: rgb(23, 1, 43);
  --bg-color:white;
}

/*  header start */
.header {
  z-index: 99;
  width: 100%;
  background-color: var(--theme-color);
  box-shadow: 0px 2px 8px grey;
}

.container {
  width: 75%;
  margin: auto;
  position: relative;
}

.header .container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header .container .row .left {
  flex-basis: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.header .container .row .left .address {
  flex-basis: 380px;
}

.header .container .row .left p {
  font-size: 16px;
  color: whitesmoke;
  padding: 5px 7px;
  text-align: left;
  line-height: 20px;
}

.header .container .row .left .address p {
  padding-left: 0;
  border-right: 1px solid whitesmoke;
}

.header .container .row .left .phone {
  flex-basis: 360px;
}

.header .container .row .left .phone p {
  padding-left: 0;
}

.header .container .row .left p i {
  font-size: 16px;
  color: whitesmoke;
}

.header .container .row .right {
  flex-basis: 190px;
  text-align: right;
}

.header .container .row .right .social-icons {
  padding: 5px 0;
}

.header .container .row .right .social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.header .container .row .right .social-icons a i {
  font-size: 20px;
  margin: auto;
  font-weight: 1000;
  line-height: 30px;
}

.header .container .row .right .social-icons .fb {
  color: rgb(0, 90, 192);
  margin-left: 0;
}

.header .container .row .right .social-icons .insta {
  color: rgb(211, 12, 218);
}

.header .container .row .right .social-icons .twitter {
  color: rgb(32, 19, 219);
}

.header .container .row .right .social-icons .youtube {
  color: rgb(219, 29, 15);
}

.header .container .row .right .social-icons .linkedin {
  color: rgb(5, 66, 197);
}

.header .container .row .right .social-icons a:hover {
  background-color: rgb(177, 177, 177);
  background: rgb(145, 139, 139);
}

/*  header end */

/* navbar start */
#navbar {
  width: 100%;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 8px grey;
  margin-bottom: 2px;
}

#navbar .row {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.toggle-btn {
  position: absolute;
  top: 8px;
  right: 0px;
  width: 30px;
  display: none;
  margin-left: auto;
}

#toggle {
  display: none;
}

.toggle-btn span i {
  font-size: 23px;
  color: var(--theme-color);
  cursor: pointer;
}

.menu .logo {
  margin: 3px 4px;
  width: 160px;
}

.menu .logo img {
  width: 100%;
}

.menu>ul {
  flex-basis: 650px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.menu>ul>li {
  margin-left: 8px;
}

.menu>ul>li>a {
  display: inline-block;
  padding: 6px 15px;
  font-size: 17px;
  text-decoration: none;
  color: rgb(19, 18, 18);
  border-radius: 10px;
  transition: all 0.3s;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu>ul>li>a:hover {
  background-color: rgb(209, 223, 222);
  color: var(--theme-color);
}

.menu .btn {
  border: none;
  display: inline-block;
  background-color: white;
}

.menu .btn a {
  display: inline-block;
  font-size: 16px;
  padding: 6px 15px;
  text-decoration: none;
  color: rgb(240, 251, 255);
  background-color:var(--theme-color) ;
  border-radius: 10px;
  transition: all 0.3s;
}

.menu .btn a:hover {
  background-color: rgb(209, 223, 222);
  color: black;
}

.menu>ul>li>.submenu-1 {
  position: absolute;
  top: 90%;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  padding: 5px;
  list-style: none;
  box-shadow: 0px 5px 4px grey;
  background-color: rgb(248, 251, 255);
  transform: translateY(50px);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.menu>ul>li:hover>.submenu-1 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.submenu-1 .deep-menu {
  display: flex;
  max-width: 250px;
  list-style: none;
  text-align: left;
}

.submenu-1 .deep-menu h5 {
  background: rgb(220, 220, 220);
  padding: 5px 0;
  padding-left: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.menu ul li:hover {
  display: block;
  flex-direction: column;
}

.submenu-1>.deep-menu {
  display: flex;
  flex-direction: column;
}

.submenu-1>.deep-menu>li {
  list-style: none;
  padding: 0px 0;
  margin-top: 5px;
}

.submenu-1>.deep-menu>ul {
  list-style: none;
}

.submenu-1>.deep-menu>ul>li {
  margin-bottom: 2px;
}

.submenu-1>.deep-menu>ul>li a {
  display: inline-block;
  line-height: 15px;
  padding: 3px 0;
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
  color: rgb(17, 17, 17);
  border-radius: 10px;
  transition: all 0.5s;
}

.submenu-1>.deep-menu>ul>li a:hover {
  background-color: rgb(224, 224, 224);
}

.submenu-1 .deep-menu i {
  margin-left: 8px;
  font-size: 14px;
  color: rgb(17, 17, 17);
  display: none;
}

.submenu-1 .toggle {
  display: none;
}

  
  /* -------------app development banner start ------------------ */
  .app-banner{
    width: 100vw;
    height: 87.5vh;
    max-height: 100%;
    display: flex;
    align-items: center;
  }
  .app-banner .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .app-banner .row .left{
    flex-basis: 500px;
    min-width: 350px;
    text-align: left;
  }
  .app-banner .row .left .heading{
    margin-bottom: 15px;
    max-width: 400px;
    font-size: 30px;
  }
  .app-banner .row .left .para{
    font-size: 17px;
    margin-bottom: 20px;
  }
  .app-banner .row .left .btn{
    text-align: center;
    padding-bottom: 20px;
  }
  .app-banner .row .left .btn a{
    
    display: inline-block;
    padding: 8px 25px;
    background: blueviolet;
    border-radius: 8px;
    text-decoration: none;
    color: whitesmoke;
    box-shadow: 0 2px 8px gray;
    transition: all 0.4s ease-in-out;
  }
  .app-banner .row .left .btn a:hover{
    background: linear-gradient(to top right, rgba(207, 38, 193, 0.8) 50%, blueviolet);
   transform: scale(1.05) translateY(-5px);
  }
  .app-banner .row .right{
    flex-basis: 500px;
    min-width: 350px;
  }
  .app-banner .row .right .img{
    width: 100%;
    box-shadow: 0 2px 10px black;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background: linear-gradient(to right,  blueviolet,  rgba(190, 107, 184, 0.6));
    transition: animation ease-in-out;
    animation: animate-banner-img-box 8s infinite  ease-in-out;
    animation-fill-mode: backwards
  }

  @keyframes animate-banner-img-box {
    0%{
        transform: translate(0) scale(1);
    }
    25%{
        transform: translateX(20px) scale(1);
    }
    50%{
        transform: translateY(20px) scale(1);
    }
    75%{
        transform: translateY(-20px) scale(1) ;
    }
    100%{
        transform: scale(1.05) translateX(20px) ;
    }
  }
  /* -------------app development banner end ------------------ */

   /* -------------app features start------------------ */
  .app-features-section{
    margin-bottom: 50px;
  }
  .app-features-section .row{
    padding: 30px 0;
  }
  .app-features-section .row .section-head{
    margin-bottom: 20px;
  }
  .app-features-section .row .section-head .heading{
    font-size: 22px;
    margin-bottom: 15px;
  }
  .app-features-section .row  .section-head  .para{

  }
  .app-features-section .row .features-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .app-features-section .row .features-container .feature{
    flex-basis: 400px;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    margin-bottom:20px;
  }
  .app-features-section .row .features-container .img{
    width: 100px;
    margin-right: 20px;
  }


  /* -------------app features end------------------ */
   
  /* -------------Feature start ------------------ */
   html,body{
    overflow-x: hidden;
   }
  .features{
    margin-bottom: 120px;
  }
  .heading{
    text-align: center;
    background: blue;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
  }
  .features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .features .box-container .box{
    flex:1 1 30rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    margin: 1.5rem;
    padding: 2rem 1rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
    flex-basis: 300px;
  }
  .features .box-container .box img{
    width: 30%;
   
  }
  .features .box-container .box h3{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
  }
  .features .box-container .box p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
   
  }
  /* -------------feature End ------------------ */
 



/* -------------section-11 start ------------------ */
.section-11 {
  position: absolute;
  top: -8%;
  z-index: 2;
  width: 100%;
}

.section-11 .row {
  box-shadow: 2px 2px 5px gray;
  padding: 20px 0;
  background-image: linear-gradient(to right,
      rgb(30, 56, 202),
      rgb(132, 60, 226),
      rgb(167, 48, 236));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.section-11 .row .msg-img {
  flex-basis: 80px;
  margin: 15px 0;
}

.section-11 .row .msg-img  img{
  width: 100%;
}

.section-11 .row .content-center {
  flex-basis: 500px;
  text-align: left;
}

.section-11 .row .content-center h1 {
  margin-bottom: 8px;
  font-size: 35px;
}

.section-11 .row .content-center p {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 25px;
  color: whitesmoke;
}

.section-11 .row .subscribe {
  flex-basis: 200px;
}

.section-11 .row .subscribe a {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(250, 34, 34);
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 500;
  transition: all 0.3s;
}

.section-11 .row .subscribe a:hover {
  background-color: rgb(187, 36, 31);
  transform: translateY(-5px);
  color: white;
}

/* -------------footer start ------------------ */

.section-footer {
  
  position: relative;
}

footer {
  background-color: var(--theme-color);
  padding-top: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 2px 2px 2px black;
  z-index: 1;
  width: 100%;
  position: relative;
}

footer .row {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  flex-wrap: nowrap;
}

footer img {
  padding: 2px;
  width: 50%;
  border-radius: 50% 50% 0% 10% / 20% 20% 10% 0%;
}

footer .row>div {
  flex-basis: 250px;
  padding: 20px 0;
  flex-wrap: nowrap;
  margin: 5px;
}
footer .row>div h3{
  color: whitesmoke;
  font-weight: 600;
  font-size: 20px;
}

footer .logo {
  text-align: center;
  margin: auto;
  width: 150px;
}

footer img {
  width: 100%;
  height: auto;
}

footer .row div p {
  margin-top: 20px;
  font-size: 15px;
  text-align: left;
  line-height: 25px;
  padding: 3px;
  color: white;
}

footer .row div>.social-icons {
  list-style: none;
  display: flex;
  margin-top: 10px;
  padding: 5px;
}

footer .row div>.social-icons>li {
  margin: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}

footer .row div>.social-icons>li>a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s;
}

footer .row div>.social-icons>li>a i {
  color: black;
}

footer .row div>.social-icons>li>a:hover {
  background-color: rgb(209, 209, 209);
  transform: translateY(-10px);
}

footer .row .footer-links {
  width: 100%;
}

footer .row .footer-links ul {
  list-style: none;
}

footer .row h3 {
  margin-bottom: 20px;
  text-align: left;
  font-size: 20px;
}

footer .row .footer-links>ul li {
  text-align: left;
  margin: 10px 0;
}

footer .row .footer-links>ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

footer .row .footer-services ul {
  list-style: none;
}

footer .row .footer-services ul li {
  margin: 10px 0;
  text-align: left;
}

footer .row .footer-services>ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
footer .row .footer-contact p{
  font-size: 15px;
}

/* -------------copyright start ------------------ */

.copyright {
  background-color: var(--theme-color);
  border: 1px solid black;
}

.copyright .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
}

.copyright .row .left {
  text-align: left;
  margin: 10px 0;
}

.copyright .row p {
  font-size: 15px;
  color: white;
}

.copyright .row .right {
  margin: 10px 0;
  text-align: left;
}