/*------------google fonts links-------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 245, 245);
}

:root {
  --theme-color: rgb(11, 71, 127);
  --btn-bg-hover: rgb(209, 223, 222);
  --primary-color: rgb(29, 7, 47);
  --secondary-color: rgb(23, 1, 43);
  --bg-color: white;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: auto;
  position: relative;
}

/* -------------Digital marketing banner start ------------------ */
.digital-marketing-banner {
  background: url('../images/digitalMarketingImages/banner.png');
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
  width: 100%;
  margin: auto;
}

.digital-marketing-banner .container .row {
  padding-top: 20px;
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  min-height: 87.5vh;
  max-height: 100%;
}

.digital-marketing-banner .container .row .left {
  flex-basis: 50%;
  text-align: left;
}

.digital-marketing-banner .container .row .left .agency {
  font-size: 20px;
  color: rgb(29, 27, 27);
}

.digital-marketing-banner .container .row .left .heading {
  font-size: 35px;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.digital-marketing-banner .container .row .left .para {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 25px;
  letter-spacing: 1px;
  color: var(--secondary-color);
}

.digital-marketing-banner .container .row .left .btn {}

.digital-marketing-banner .container .row .left .btn a {
  margin: auto;
  display: inline-block;
  font-size: 19px;
  padding: 8px 30px;
  text-decoration: none;
  color: whitesmoke;
  background: var(--theme-color);
  margin-right: 10px;
  border-radius: 8px;
  letter-spacing: 1px;
  box-shadow: 0 2px 10px grey;
  transition: all 0.4s ease-in-out;
}

.digital-marketing-banner .container .row .left .btn a:hover {
  transform: scale(1.05);
  background: var(--btn-bg-hover);
  color: black;
}

.digital-marketing-banner .container .row .right {
  flex-basis: 45%;
}

.digital-marketing-banner .container .row .right .img {
  width: 100%;
  min-width: 600px;
}

.digital-marketing-banner .container .row .right .img img {
  width: 100%;
}

.digital-marketing-banner .container .row .right .img img {
  transition: all 1s ease-in-out;
}

.digital-marketing-banner .container .row .right .img img:hover {
  transform: scale(1.2);
}

/* -------------Digital marketing services start ------------------ */

.digital-marketing-services {
  color: whitesmoke;
  background: url('../images/digitalMarketingImages/serviceBg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.digital-marketing-services .container .row {}

.digital-marketing-services .container .row .section-heading {
  padding: 25px 0;
  font-size: 30px;
  color: whitesmoke;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
}

.digital-marketing-services .container .row .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.digital-marketing-services .container .row .box .left {
  flex-basis: 40%;
}

.digital-marketing-services .container .row .box .left .img {
  width: 100%;
}

.digital-marketing-services .container .row .box .left img {
  width: 100%;
}

.digital-marketing-services .container .row .right {
  flex-basis: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.digital-marketing-services .container .row .right .services-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.right .services-container .service {
  display: flex;
  justify-content: space-between;
  flex-basis: 280px;
  min-height: 120px;
  padding: 5px 0;
  border-radius: 3px;
  margin-bottom: 10px;
}

.right .services-container .service .img {
  flex-basis: 60px;
  min-width: 40px;
}

.right .services-container .service .img img {
  width: 100%;
}

.right .services-container .service .service-content {
  text-align: left;
  margin-left: 10px;
}

.services-container .service .service-name {
  font-size: 17px;
  color: white;
  margin-bottom: 5px;
}

.services-container .service .para {
  font-size: 15px;
  line-height: 20px;
  color: whitesmoke;
}

/* -------------marketing strategy start ------------------ */

.marketing-strategy .row {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.marketing-strategy .row .left {
  flex-basis: 40%;
}

.marketing-strategy .row .left .img img {
  width: 100%;
  transition: all 0.4s;
}

.marketing-strategy .row .left .img img:hover {
  transform: scale(0.9);
}

.marketing-strategy .row .right {
  flex-basis: 55%;
}

.marketing-strategy .row .right .heading {
  font-size: 25px;
  margin-bottom: 30px;
  color: var(--primary-color);
  position: relative;
}

.marketing-strategy .row .right .heading::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  top: 110%;
  background: var(--theme-color);
}

.marketing-strategy .row .right .para {
  font-size: 18px;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.marketing-strategy .row .right .para p {
  line-height: 25px;
}

.marketing-strategy .row .right .strategy-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.marketing-strategy .row .right .strategy-container .strategy {
  flex-basis: 280px;

}

.marketing-strategy .row .right .strategy-container .strategy img {}

.marketing-strategy .row .right .strategy-container .title {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.marketing-strategy .row .right .strategy-container .title-para {
  margin-left: 20px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--secondary-color);
}

.marketing-strategy .row .right .strategy-container .contact {
  margin-left: 20px;
}

.marketing-strategy .row .right .strategy-container .contact a {
  text-decoration: none;
  display: inline-block;
  padding: 7px 25px;
  color: whitesmoke;
  background: var(--theme-color);
  border-radius: 8px;
  transition: all 0.4s;
}

.marketing-strategy .row .right .strategy-container .contact a:hover {
  transform: scale(1.08) translateY(-8px);
  background: var(--btn-bg-hover);
  color: black;
  box-shadow: 0 2px 8px grey;
  font-weight: 500;
}

/* -------------Digital marketing graph start ------------------ */

.digital-marketing-graph {
  background: url('../images/digitalMarketingImages/graphbg.png');
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 100%;
}

.digital-marketing-graph .container .row {
  position: relative;
  width: 100%;
  height: 100%;
}

.digital-marketing-graph .container .row .img {
  position: absolute;
  top: 100px;
  left: auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.digital-marketing-graph .container .row .img img {
  width: 100%;
}

/* -------------Contact Us section start ------------------ */
.contact-us-section {
  background: url('../images/digitalMarketingImages/contactUsBg.png');
  background-size: cover;
  background-position: bottom;
  color: whitesmoke;
  height: 600px;
  display: flex;
}

.contact-us-section .container .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.contact-us-section .container .row .para {
  font-size: 35px;
  line-height: 45px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
  max-width: 1000px;
}

.contact-us-section .container .row .btn a {
  text-decoration: none;
  padding: 9px 30px;
  color: whitesmoke;
  background: var(--theme-color);
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
  letter-spacing: 1px;
}

.contact-us-section .container .row .btn {
  padding: 10px 0;
}

.contact-us-section .container .row .btn a:hover {

  background: var(--btn-bg-hover);
  color: rgb(240, 251, 255);
  box-shadow: 0 2px 8px grey;
  font-weight: 500;
  transform: scale(1.08) translateY(-8px);
}

/* -------------SEO services start ------------------ */
.seo-services {
  margin-bottom: 50px;
}

.seo-services .container .row {
  text-align: center;
  padding: 40px 0;
}

.seo-services .container .row .section-heading {
  text-align: center;
  margin: auto;
  position: relative;
  font-size: 25px;
  margin-bottom: 50px;
  color: var(--primary-color);
}

.seo-services .container .row .section-heading::after {
  content: '';
  position: absolute;
  text-align: center;
  width: 80px;
  height: 3px;
  top: 110%;
  left: 46%;
  background: var(--theme-color);
}

.seo-services .container .row .section-para {
  font-size: 20px;
  color: var(--secondary-color);
  margin-bottom: 40px;
}

.seo-services .container .row .services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.seo-services .container .row .services-container .service {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 150px;
  margin: 80px auto;
  background-color: white;
  transition: all 0.4s ease-in-out;

}

.seo-services .container .row .services-container .service::before,
.service::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: white;
  z-index: -1;
}

.seo-services .container .row .services-container .service::before {
  transform: rotate(60deg);
}

.seo-services .container .row .services-container .service::after {
  transform: rotate(-60deg);
  background-color: white;
}

.seo-services .container .row .services-container .service .img {
  width: 100%;
  margin-bottom: 20px;
}

.seo-services .container .row .services-container .service .img img {
  width: auto;
}

.seo-services .container .row .services-container .service .service-name {
  font-size: 16px;
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.seo-services .container .row .services-container .service:hover {
  transform: perspective(1000px) scale(1.08) rotateY(20deg);

}

.seo-services .container .row .services-container .service:hover .service-name {
  color: rgb(17, 17, 17);
}

/* -------------Digital marketing partnership section start ------------------ */
.partnership-section {}

.partnership-section .container .row {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.partnership-section .container .row .left {
  flex-basis: 40%;
}

.partnership-section .container .row .left img {
  width: 100%;
}

.partnership-section .container .row .right {
  flex-basis: 55%;
  text-align: left;
}

.partnership-section .container .row .right .heading {
  margin: auto;
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
  position: relative;
  color: var(--primary-color);
}

.partnership-section .container .row .right .heading::after {
  content: '';
  position: absolute;
  top: 110%;
  width: 65px;
  height: 3px;
  background: var(--theme-color);
}

.partnership-section .container .row .right .para {
  font-size: 22px;
  margin-bottom: 20px;
  font-style: italic;
  color: var(--primary-color);
}

.partnership-section .container .row .right .sub-para {
  font-size: 17px;
}

.partnership-section .container .row .right .sub-para p {
  line-height: 25px;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.partnership-section .container .row .right .btn a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 25px;
  color: whitesmoke;
  background: var(--theme-color);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.partnership-section .container .row .right .btn a:hover {
  background: var(--btn-bg-hover);
  color: black;
  box-shadow: 0 2px 8px grey;
  font-weight: 500;
  transform: scale(1.08) translateY(-8px);
}

/* -------------core business section start ------------------ */

.core-business-section .container .row {
  padding: 30px 0;
}

.core-business-section .container .row .section-head {
  text-align: center;
  margin-bottom: 20px;
}

.core-business-section .container .row .section-head .heading {
  font-size: 27px;
  margin-bottom: 30px;
  position: relative;
  color: var(--primary-color);
}

.core-business-section .container .row .section-head .heading::after {
  content: '';
  position: absolute;
  text-align: center;
  margin: auto;
  top: 110%;
  background: var(--theme-color);
  left: 45%;
  width: 65px;
  height: 3px;
}

.core-business-section .container .row .section-head .para {
  text-align: center;
  font-size: 25px;
  color: var(--secondary-color);
}

.core-business-section .container .row .business-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.core-business-section .container .row .business-container .business {
  text-align: left;
  width: 320px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.business-container .business .img {
  margin-bottom: 10px;
}

.business-container .business .img img {
  width: auto;
}

.business-container .business .business-name {
  margin-bottom: 15px;
  color: var(--primary-color);
}

.business-container .business .para {
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.business-container .business .para p {
  line-height: 25px;
}

.core-business-section .container .row .business-container .business:hover {
  box-shadow: 0 2px 8px grey;
  transform: scale(1.02);
}

/* -------------social meadia section start ------------------ */
.social-media-section {}

.social-media-section .container .row {
  padding: 30px 0;
}

.social-media-section .container .row .section-head {
  text-align: center;
  margin-bottom: 30px;
}

.social-media-section .container .row .section-head .heading {
  font-size: 25px;
  margin-bottom: 40px;
  position: relative;
  color: var(--primary-color);
}

.social-media-section .container .row .section-head .heading::after {
  content: '';
  position: absolute;
  width: 65px;
  height: 3px;
  background: var(--theme-color);
  top: 120%;
  left: 48%;
}

.social-media-section .container .row .section-head .para {
  font-size: 22px;
  line-height: 28px;
  color: var(--secondary-color);
}

.social-media-section .container .row .content-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.social-media-section .container .row .content-container .left {
  flex-basis: 40%;
}

.social-media-section .container .row .content-container .left .img img {
  width: 100%;
}

.social-media-section .container .row .content-container .right {
  flex-basis: 55%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.social-media-section .right .services-container {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.social-media-section .right .services-container .service {
  flex-basis: 280px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.social-media-section .right .services-container .service .img {
  width: 40px;
  margin-right: 20px;
}

.social-media-section .right .services-container .service .img img {
  width: 40px;
}

.social-media-section .right .services-container .service .content {
  text-align: left;
}

.social-media-section .right .services-container .service .content .service-name {
  color: var(--primary-color);
  margin-bottom: 15px;
}

.social-media-section .right .services-container .service .content .para {
  color: var(--secondary-color);
}

.social-media-section .right .services-container .service:hover {
  box-shadow: 0 2px 8px gray;
  transform: scale(1.04);
}

/* -------------promising section start ------------------ */
.promising-section .container .row {
  padding: 30px 0;
}

.promising-section .container .row .section-head {
  margin-bottom: 20px;
  text-align: center;
}

.promising-section .container .row .section-head .heading {
  font-size: 30px;
  margin-bottom: 30px;
  position: relative;
  color: var(--primary-color);
}

.promising-section .container .row .section-head .heading::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 3px;
  background: var(--theme-color);
  top: 110%;
  left: 48%;
}

.promising-section .container .row .section-head .para {
  font-size: 22px;
  line-height: 30px;
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.promising-section .container .row .content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.promising-section .container .row .content-container .content {
  flex-basis: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.promising-section .container .row .content-container .content .left-content {
  flex-basis: 110px;
  text-align: center;
}

.promising-section .container .row .content-container .content .left-content .percent {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  border: 12px solid var(--theme-color);
}

.content .left-content .percent span {
  line-height: 90px;
  font-size: 30px;
  font-weight: 700;
}

.promising-section .container .row .content-container .content .right-content {
  flex-basis: 250px;
  text-align: left;
}

.content-container .content .right-content .title {
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--primary-color);
}

.content-container .content .right-content .para {
  font-size: 18px;
  line-height: 22px;
  color: var(--secondary-color);
}

.promising-section .container .row .content-container .content:hover {
  box-shadow: 0 2px 8px gray;
  transform: scale(1.03);
}

/* -------------promising section start ------------------ */
.social-media-plays {
  margin: 70px 0;
}

.social-media-plays .container .row {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.social-media-plays .container .row .left {
  flex-basis: 55%;
  text-align: left;
}

.social-media-plays .container .row .left .heading {
  font-size: 25px;
  position: relative;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.social-media-plays .container .row .left .heading::after {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  width: 70px;
  height: 3px;
  background: var(--theme-color);
}

.social-media-plays .container .row .left .para {
  font-size: 22px;
  line-height: 27px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.social-media-plays .container .row .left .content-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.social-media-plays .container .row .left .content-container .content {
  flex-basis: 250px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.social-media-plays .container .row .left .content-container .content .img {
  margin-bottom: 15px;
}

.social-media-plays .container .row .left .content-container .content .img img {
  width: 55px;
}

.social-media-plays .container .row .left .content-container .content .title {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.social-media-plays .container .row .left .content-container .content .para {
  font-size: 18px;
  line-height: 25px;
  color: var(--secondary-color);
}

.social-media-plays .container .row .left .content-container .content:hover {
  box-shadow: 0 2px 8px gray;
  transform: scale(1.04);
}

.social-media-plays .container .row .right {
  flex-basis: 40%;
  text-align: center;
}

.social-media-plays .container .row .right .img img {
  width: 100%;
}

/*------------------------media query start---------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
  .social-media-plays .container .row .left .content-container .content {
    flex-basis: 280px;
    padding: 10px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) and (max-width:1200px) {

  .container {
    width: 90%;
  }

  .digital-marketing-banner .container .row .left {
    flex-basis: 50%;
    text-align: left;
  }

  .digital-marketing-banner .container .row .left .agency {
    font-size: 16px;
  }

  .digital-marketing-banner .container .row .left .heading {
    font-size: 25px;
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  .digital-marketing-banner .container .row .left .para {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 22px;
  }

  .right .services-container .service {
    display: flex;
    justify-content: space-between;
    flex-basis: 252px;
    min-height: 120px;
    padding: 3px 0;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .marketing-strategy .row {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
  }

  .marketing-strategy .row .left {
    flex-basis: 40%;
  }

  .marketing-strategy .row .left .img img {
    width: 100%;
    transition: all 0.4s;
  }

  .marketing-strategy .row .left .img img:hover {
    transform: scale(0.9);
  }

  .marketing-strategy .row .right {
    flex-basis: 55%;
  }

  .marketing-strategy .row .right .heading {
    font-size: 25px;
    margin-bottom: 30px;
    color: var(--primary-color);
    position: relative;
  }

  .marketing-strategy .row .right .heading::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    top: 110%;
    background: var(--theme-color);
  }

  .marketing-strategy .row .right .para {
    font-size: 18px;
    color: var(--secondary-color);
    margin-bottom: 30px;
  }

  .marketing-strategy .row .right .para p {
    line-height: 25px;
  }

  .marketing-strategy .row .right .strategy-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .marketing-strategy .row .right .strategy-container .strategy {
    flex-basis: 250px;

  }

  .marketing-strategy .row .right .strategy-container .title {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 20px;
    color: var(--primary-color);
  }

  .marketing-strategy .row .right .strategy-container .contact {
    margin-left: 20px;
  }

  .marketing-strategy .row .right .strategy-container .contact a {
    text-decoration: none;
    display: inline-block;
    padding: 7px 25px;
    color: whitesmoke;
    background: var(--theme-color);
    border-radius: 8px;
    transition: all 0.4s;
  }

  .marketing-strategy .row .right .strategy-container .contact a:hover {
    transform: scale(1.08) translateY(-8px);
    background: var(--btn-bg-hover);
    color: black;
    box-shadow: 0 2px 8px grey;
    font-weight: 500;
  }

  .core-business-section .container .row .business-container .business {
    text-align: left;
    width: 300px;
    flex-grow: 1;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }

  .social-media-section .right {
    flex-basis: 60%;
  }

  .social-media-section .right .services-container {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .social-media-section .right .services-container .service {
    flex-basis: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: all 0.3s ease-in-out;
  }

  .social-media-plays .container .row .left .content-container .content {
    flex-basis: 250px;
    flex-grow: 1;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:1024px) {

  .container {
    width: 95%;
  }

  .digital-marketing-banner .container .row .left {
    flex-basis: 100%;
    text-align: left;
  }

  .digital-marketing-banner .container .row .left .agency {
    font-size: 15px;
  }

  .digital-marketing-banner .container .row .left .heading {
    font-size: 25px;
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  .digital-marketing-banner .container .row .left .para {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
  }

  .digital-marketing-banner .container .row .left .btn a {
    font-size: 16px;
    padding: 7px 30px;
    margin-right: 10px;
  }

  .digital-marketing-banner .container .row .right .img {
    width: 100%;
    min-width: 400px;
  }

  .digital-marketing-services .container .row .box {
    flex-wrap: wra;
  }

  .digital-marketing-services .container .row .box .left {
    text-align: center;
    flex-basis: 100%;
  }

  .digital-marketing-services .container .row .box .left .img {
    margin: auto;
  }

  .digital-marketing-services .container .row .box .left img {
    width: 70%;
  }

  .digital-marketing-services .container .row .right {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .digital-marketing-services .container .row .right .services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .right .services-container .service {
    display: flex;
    justify-content: space-between;
    flex-basis: 280px;
    min-height: 120px;
    padding: 5px 0;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .right .services-container .service .img {
    flex-basis: 60px;
    min-width: 40px;
  }

  .right .services-container .service .img img {
    width: 100%;
  }

  .right .services-container .service .service-content {
    text-align: left;
    margin-left: 10px;
  }

  .services-container .service .service-name {
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
  }

  .services-container .service .para {
    font-size: 15px;
    line-height: 20px;
    color: whitesmoke;
  }


  .marketing-strategy .row {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
  }

  .marketing-strategy .row .left {
    flex-basis: 40%;
  }

  .marketing-strategy .row .left .img img {
    width: 100%;
    transition: all 0.4s;
  }

  .marketing-strategy .row .left .img img:hover {
    transform: scale(0.9);
  }

  .marketing-strategy .row .right {
    flex-basis: 58%;
  }

  .marketing-strategy .row .right .heading {
    font-size: 25px;
    margin-bottom: 30px;
    position: relative;
  }

  .marketing-strategy .row .right .para {
    font-size: 17px;
    margin-bottom: 15px;
  }

  .marketing-strategy .row .right .strategy-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .marketing-strategy .row .right .strategy-container .strategy {
    flex-basis: 210px;
    flex-grow: 1;
  }

  .marketing-strategy .row .right .strategy-container .strategy img {
    width: 70px;

  }

  .marketing-strategy .row .right .strategy-container .title {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .strategy-container .strategy .title-para p {
    font-size: 15px;
  }

  .marketing-strategy .row .right .strategy-container .contact {
    margin-left: 20px;
  }

  .marketing-strategy .row .right .strategy-container .contact a {
    text-decoration: none;
    display: inline-block;
    padding: 7px 25px;
    color: whitesmoke;
    background: var(--theme-color);
    border-radius: 8px;
    transition: all 0.4s;
  }

  .marketing-strategy .row .right .strategy-container .contact a:hover {
    transform: scale(1.08) translateY(-8px);
    background: var(--btn-bg-hover);
    color: black;
    box-shadow: 0 2px 8px grey;
    font-weight: 500;
  }

  /* -------------Digital marketing graph start ------------------ */

  .digital-marketing-graph {
    height: 500px;
  }


  .digital-marketing-graph .container .row .img {
    top: 200px;
    left: auto;
    max-width: 1000px;
  }

  /* -------------Contact Us section start ------------------ */
  .contact-us-section {
    background: url('../images/digitalMarketingImages/contactUsBg.png');
    background-size: cover;
    background-position: bottom;
    color: whitesmoke;
    height: 600px;
    display: flex;
  }

  .contact-us-section .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .contact-us-section .container .row .para {
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    max-width: 1000px;
  }

  .contact-us-section .container .row .btn a {
    padding: 9px 30px;
  }

  .seo-services .container .row .section-heading {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .seo-services .container .row .section-para {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 26px;
  }


  .partnership-section .container .row .right {
    flex-basis: 55%;
    text-align: left;
  }

  .partnership-section .container .row .right .heading {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .partnership-section .container .row .right .para {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .partnership-section .container .row .right .sub-para {
    font-size: 16px;
  }

  .partnership-section .container .row .right .sub-para p {
    line-height: 25px;
    margin-bottom: 20px;
  }


  .core-business-section .container .row .section-head .heading {
    font-size: 25px;
    margin-bottom: 25px;
    position: relative;
    color: var(--primary-color);
  }

  .core-business-section .container .row .section-head .heading::after {
    content: '';
    position: absolute;
    text-align: center;
    margin: auto;
    top: 110%;
    background: var(--theme-color);
    left: 45%;
    width: 65px;
    height: 3px;
  }

  .core-business-section .container .row .section-head .para {
    text-align: center;
    font-size: 20px;
    color: var(--secondary-color);
  }

  .core-business-section .container .row .business-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .core-business-section .container .row .business-container .business {
    text-align: left;
    width: 250px;
    flex-grow: 1;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }

  .social-media-section .container .row .section-head {
    text-align: center;
    margin-bottom: 30px;
  }

  .social-media-section .container .row .section-head .heading {
    font-size: 22px;
    margin-bottom: 40px;
    position: relative;
    color: var(--primary-color);
  }

  .social-media-section .container .row .section-head .heading::after {
    content: '';
    position: absolute;
    width: 65px;
    height: 3px;
    background: var(--theme-color);
    top: 110%;
    left: 45%;
  }

  .social-media-section .container .row .section-head .para {
    font-size: 18px;
  }

  .social-media-section .right .services-container {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .social-media-section .right .services-container .service {
    flex-basis: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: all 0.3s ease-in-out;
  }

  .promising-section .container .row .section-head {
    margin-bottom: 10px;
  }

  .promising-section .container .row .section-head .heading {
    font-size: 25px;
    margin-bottom: 30px;
    ;
  }

  .promising-section .container .row .section-head .heading::after {
    left: 45%;
  }

  .promising-section .container .row .section-head .para {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .promising-section .container .row .content-container .content {
    flex-basis: 360px;
  }

  .promising-section .container .row .content-container .content .left-content {
    flex-basis: 100px;
  }

  .promising-section .container .row .content-container .content .left-content .percent {
    width: 100px;
    height: 100px;
    border: 12px solid var(--theme-color);
  }

  .content .left-content .percent span {
    line-height: 80px;
  }

  .promising-section .container .row .content-container .content .right-content {
    flex-basis: 230px;
  }

  .social-media-plays .container .row .left .heading {
    font-size: 22px;
  }

  .social-media-plays .container .row .left .para {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .social-media-plays .container .row .left .content-container .content {
    margin-top: 10px;
    flex-basis: 200px;
    flex-grow: 1;
  }

  .social-media-plays .container .row .left .content-container .content .img img {
    width: 55px;
  }

  .social-media-plays .container .row .left .content-container .content .title {
    font-size: 18px;
  }

  .social-media-plays .container .row .left .content-container .content .para {
    font-size: 17px;
  }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) {

  .container {
    width: 95%;
    margin: auto;
  }

  .digital-marketing-banner .container .row {
    flex-wrap: wrap;
  }

  .digital-marketing-banner .container .row .left {
    margin-top: 20px;
    flex-basis: 100%;
    text-align: left;
  }

  .digital-marketing-banner .container .row .left .agency {
    font-size: 16px;
  }

  .digital-marketing-banner .container .row .left .heading {
    font-size: 22px;
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  .digital-marketing-banner .container .row .left .para {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 22px;
  }

  .digital-marketing-banner .container .row .left .btn {
    margin-bottom: 10px;
  }

  .digital-marketing-banner .container .row .left .btn a {
    font-size: 16px;
    padding: 7px 0px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .digital-marketing-banner .container .row .right {
    flex-basis: 100%;
    display: none;
  }

  .digital-marketing-banner .container .row .right .img {
    width: 100%;
    min-width: 400px;
  }

  .digital-marketing-banner .container .row .left {
    flex-basis: 100%;
    text-align: left;
  }

  .digital-marketing-banner .container .row .left .agency {
    font-size: 15px;
  }

  .digital-marketing-banner .container .row .left .heading {
    font-size: 25px;
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  .digital-marketing-banner .container .row .left .para {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
  }

  .digital-marketing-banner .container .row .left .btn a {
    font-size: 17px;
    padding: 7px 30px;
    margin-right: 10px;
  }

  .digital-marketing-banner .container .row .right .img {
    width: 100%;
    min-width: 400px;
  }

  .digital-marketing-services .container .row .section-heading {
    padding: 25px 0;
    font-size: 20px;
  }

  .digital-marketing-services .container .row .box .left {
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 15px;
  }

  .digital-marketing-services .container .row .box .left .img {
    margin: auto;
  }

  .digital-marketing-services .container .row .box .left img {
    width: 70%;
  }

  .digital-marketing-services .container .row .right {
    flex-basis: 100%;
  }

  .digital-marketing-services .container .row .right .services-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .right .services-container .service {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    min-height: 120px;
    padding: 5px 0;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .right .services-container .service .img {
    flex-basis: 60px;
    min-width: 40px;
  }

  .right .services-container .service .img img {
    width: 100%;
  }

  .right .services-container .service .service-content {
    text-align: left;
    margin-left: 10px;
  }

  .services-container .service .service-name {
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
  }

  .services-container .service .para {
    font-size: 15px;
    line-height: 20px;
    color: whitesmoke;
  }

  .marketing-strategy .row .heading h2 {
    font-size: 30px;
  }

  .marketing-strategy .row .para p {
    font-size: 18px;
  }

  .marketing-strategy .row .left {
    display: none;
  }

  .marketing-strategy .row .right {
    flex-basis: 100%;
  }

  .marketing-strategy .row .right .strategy-container .strategy {
    flex-basis: 200px;
    flex-grow: 1;
  }

  .marketing-strategy .row .right .strategy-container .strategy img {
    width: 50px;
  }

  .marketing-strategy .row .right .strategy-container .title {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .strategy-container .strategy .title-para p {
    font-size: 15px;
  }

  .marketing-strategy .row .right .strategy-container .contact {
    margin: auto;
  }

  .marketing-strategy .row .right .strategy-container .contact a {
    padding: 7px 15px;
    font-size: 15px;
  }

  /* -------------Digital marketing graph start ------------------ */

  .digital-marketing-graph {
    height: 400px;
  }

  .digital-marketing-graph .container .row .img {
    top: 150px;
    left: auto;
    max-width: 1000px;
  }

  /* -------------Contact Us section start ------------------ */
  .contact-us-section {
    background: url('../images/digitalMarketingImages/contactUsBg.png');
    height: 400px;
  }

  .contact-us-section .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .contact-us-section .container .row .para {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .contact-us-section .container .row .btn a {
    padding: 9px 30px;
  }


  .seo-services .container .row .section-heading {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .seo-services .container .row .section-heading::after {
    width: 70px;
    top: 110%;
    left: 43%;
  }

  .seo-services .container .row .section-para {
    font-size: 18px;
    color: var(--secondary-color);
    margin-bottom: 40px;
    line-height: 26px;
  }

  .partnership-section .container .row .left {
    flex-basis: 100%;
  }

  .partnership-section .container .row .right {
    flex-basis: 100%;
    margin-bottom: 25px;
  }

  .partnership-section .container .row .right .heading {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .partnership-section .container .row .right .para {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .partnership-section .container .row .right .sub-para {
    font-size: 15px;
  }

  .partnership-section .container .row .right .sub-para p {
    line-height: 25px;
    margin-bottom: 20px;
  }

  .core-business-section .container .row .section-head .heading {
    font-size: 20px;
    margin-bottom: 25px;
    position: relative;
    color: var(--primary-color);
  }

  .core-business-section .container .row .section-head .heading::after {
    content: '';
    position: absolute;
    text-align: center;
    margin: auto;
    top: 110%;
    background: var(--theme-color);
    left: 41%;
    width: 60px;
    height: 3px;
  }

  .core-business-section .container .row .section-head .para {
    font-size: 18px;
  }

  .core-business-section .container .row .business-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .core-business-section .container .row .business-container .business {
    width: 250px;
    flex-grow: 1;
  }


  .social-media-section .container .row .section-head {
    text-align: center;
    margin-bottom: 30px;
  }

  .social-media-section .container .row .section-head .heading {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .social-media-section .container .row .section-head .heading::after {
    top: 110%;
    left: 42%;
  }

  .social-media-section .container .row .section-head .para {
    font-size: 17px;
    line-height: 23px;
  }

  .social-media-section .right .content-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .social-media-section .container .row .content-container .left {
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 15px;
  }

  .social-media-section .container .row .content-container .left .img img {
    width: 80%;
  }

  .social-media-section .container .row .content-container .right {
    flex-basis: 100%;
  }

  .social-media-section .right .services-container .service {
    flex-basis: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: all 0.3s ease-in-out;

  }

  .promising-section .container .row .section-head {
    margin-bottom: 10px;
  }

  .promising-section .container .row .section-head .heading {
    font-size: 22px;
    margin-bottom: 30px;
    ;
  }

  .promising-section .container .row .section-head .heading::after {
    left: 45%;
  }

  .promising-section .container .row .section-head .para {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .promising-section .container .row .content-container .content {
    flex-basis: 360px;
    flex-grow: 1;
    margin-bottom: 25px;
    flex-wrap: wrap;

  }

  .promising-section .container .row .content-container .content .left-content {
    flex-basis: 100px;
    margin-bottom: 10px;
  }

  .promising-section .container .row .content-container .content .left-content .percent {
    width: 100px;
    height: 100px;
    border: 12px solid var(--theme-color);
  }

  .content .left-content .percent span {
    line-height: 80px;
  }

  .promising-section .container .row .content-container .content .right-content {
    flex-basis: 200px;
    flex-grow: 1;
    margin-left: 10px;
  }

  .promising-section .content-container .content .right-content .para {
    font-size: 16px;
  }


  .social-media-plays .container .row .left {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .social-media-plays .container .row .left .heading {
    font-size: 20px;
  }

  .social-media-plays .container .row .left .para {
    font-size: 18px;
  }

  .social-media-plays .container .row .left .content-container .content {
    margin-top: 10px;
    flex-basis: 200px;
    flex-grow: 1;
  }

  .social-media-plays .container .row .left .content-container .content .img img {
    width: 50px;
  }

  .social-media-plays .container .row .left .content-container .content .title {
    font-size: 18px;
  }

  .social-media-plays .container .row .left .content-container .content .para {
    font-size: 16px;
  }

  .social-media-plays .container .row .right {
    flex-basis: 100%;
    margin-bottom: 15px;
  }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
  .container {
    width: 95%;
  }

  .digital-marketing-services .container .row .section-heading {
    padding: 25px 0;
    font-size: 18px;
  }

  .marketing-strategy .row .right .strategy-container .strategy {
    margin-bottom: 10px;
  }

  .marketing-strategy .row .right .strategy-container .contact a {
    padding: 7px 15px;
    font-size: 15px;
  }

  /* -------------Digital marketing graph start ------------------ */

  .digital-marketing-graph {
    height: 250px;
  }

  .digital-marketing-graph .container .row .img {
    top: 100px;
  }

  /* -------------Contact Us section start ------------------ */
  .contact-us-section {
    background: url('../images/digitalMarketingImages/contactUsBg.png');
    background-size: cover;
    background-position: bottom;
    color: whitesmoke;
    height: 300px;
  }

  .contact-us-section .container .row .para {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .contact-us-section .container .row .btn a {
    padding: 7px 15px;
    font-size: 16px;
  }

  .seo-services .container .row .section-heading {
    font-size: 17px;
    margin-bottom: 30px;
  }

  .seo-services .container .row .section-heading::after {
    width: 60px;
    top: 110%;
    left: 41%;
  }

  .seo-services .container .row .section-para {
    font-size: 16px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    line-height: 22px;
  }

  .partnership-section .container .row .right {
    flex-basis: 100%;
    margin-bottom: 25px;
  }

  .partnership-section .container .row .right .heading {
    font-size: 17px;
  }

  .partnership-section .container .row .right .para {
    font-size: 17px;
  }

  .partnership-section .container .row .right .btn a {
    font-size: 16px;
    padding: 7px 15px;
  }

  .social-media-plays .container .row .left .heading {
    text-align: center;
    font-size: 19px;
  }

  .social-media-plays .container .row .left .para {
    font-size: 18px;
    line-height: 25px;
  }

}

/*------------------------media query end---------------------*/