/*------------google fonts links-------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 245, 245);
}

:root {
  --theme-color: rgb(11, 71, 127);
  --btn-bg-hover: rgb(209, 223, 222);
  --primary-color: rgb(29, 7, 47);
  --secondary-color: rgb(23, 1, 43);
  --bg-color: white;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: auto;
  position: relative;
}

/* -------------graphics banner start ------------------ */

.graphics-banner {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
}

.graphics-banner .row {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graphics-banner .row .left {
  flex-basis: 45%;
  height: 100%;
  text-align: left;
  z-index: 9;
}

.graphics-banner .row .left h1 {
  font-size: 50px;
  font-size: 600;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.graphics-banner .row .left p {
  color: gray;
  font-size: 20px;
  line-height: 25px;
  color: var(--secondary-color);
}

.graphics-banner .row .left .button {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 20px 0;
}

.graphics-banner .row .left .button .getStarted {
  text-align: center;
  width: 150px;
}

.graphics-banner .row .left .button .getStarted a {
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  border-radius: 17px;
  background-color: var(--theme-color);
  color: white;
  transition: all 0.4s;
  box-shadow: 0 0 5px gray;
}

.graphics-banner .row .left .button .getStarted a:hover {
  background-color: rgb(224, 224, 224);
  transform: scale(1.2);
  color: var(--primary-color);
}

.graphics-banner .row .left .button .play {
  width: 60px;
  margin-left: 10px;
}

.graphics-banner .row .left .button .play i {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  color: white;
  text-align: center;
  border-radius: 50%;
  background-color: var(--theme-color);
  color: white;
  cursor: pointer;
  text-align: center;
  margin: auto;
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: 0 0 5px gray;
}

.graphics-banner .row .left .button .play i:hover {
  background-color: rgb(224, 224, 224);
  transform: scale(1.1);
  color: var(--primary-color);
}

.graphics-banner .row .right {
  flex-basis: 45%;
  height: 100%;
}

.graphics-banner .row .right .banner-img {
  margin-left: auto;
  width: 70%;
  box-shadow: 0 0 20px gray;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  transition: all 0.5s;
}

.graphics-banner .row .right .banner-img img {
  width: 100%;
  height: 100%;
}

.graphics-banner .row .right .banner-img:hover {
  transform: scale(1.1) rotate(15deg);
}

/* -------------graphics srvices section start ------------------ */
.graphics-services .row {
  padding: 40px 0;
  color: whitesmoke;
}

.graphics-services .row .section-heading {
  text-align: center;
}

.graphics-services .row .section-heading h1 {
  font-size: 24px;
  color: var(--secondary-color);
  font-weight: 500;
}

.graphics-services .row .section-para {
  text-align: center;
}

.graphics-services .row .section-para p {
  font-size: 35px;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.graphics-services .row .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  display: none;
}

.graphics-services .row .active-service {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.graphics-services .row .services .service {
  flex-basis: 330px;
  text-align: center;
  margin: 15px 0;
  padding: 15px 10px;
  border-radius: 8px;
  transition: all 0.3s;
}

.graphics-services .row .services .service:hover {
  background: var(--theme-color);
  transform: translateY(-10px);
}

.graphics-services .row .services .service .img {
  margin-bottom: 15px;
}

.graphics-services .row .services .service span {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.graphics-services .row .services .service img {
  width: 100%;
}

.graphics-services .row .services .service h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.graphics-services .row .services .service p {
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 35px;
  color: var(--secondary-color);
}

.graphics-services .row .services .service a {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  padding: 7px 15px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--theme-color);
  color: white;
  transition: all 0.3s;
  box-shadow: 0 0 5px gray;
}

.graphics-services .row .services .service a:hover {
  background-color: rgb(224, 224, 224);
  transform: scale(1.1);
  color: var(--secondary-color);
}

.graphics-services .row .service-tab {
  margin: auto;
  text-align: center;
}

.graphics-services .row .service-tab h3 {
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: 1px;
}

.graphics-services .row .service-tab span {
  margin: 0 3px;
  font-size: 15px;
  border: 1px solid white;
  padding: 3px 7px;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--bg-color);
}

.graphics-services .row .service-tab .tabs {
  color: var(--secondary-color);
}

.graphics-services .row .service-tab .active-tab {
  background: var(--theme-color);
  padding: 5px 10px;
  border: none;
  box-shadow: 0 0 6px 2px grey;
  color: white;
}

/* -------------Our work section start ------------------ */
.our-works {
  margin-bottom: 70px;
}

.our-works .row {
  padding: 40px 0;
}

.our-works .row .section-heading {
  text-align: center;
}

.our-works .row .section-heading h1 {
  font-size: 22px;
  color: var(--secondary-color);
  margin: 10px;
  font-weight: 500;
}

.our-works .row .section-para {
  text-align: center;
}

.our-works .row .section-para p {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.our-works .row .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
}

.our-works .row .active-work {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-works .row .works .work {
  display: flex;
  flex-direction: column;
  flex-basis: 330px;
  text-align: left;
  margin: 10px 0;
  padding: 15px 10px;
}

.our-works .row .works .work .img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.our-works .row .works .work span {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.our-works .row .works .work .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s;
}

.our-works .row .works .work .img:hover img {
  transform: scale(1.08);
  transition: all 0.4s ease-in-out;
}

.our-works .row .works .work h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--primary-color);
}

.our-works .row .works .work p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.our-works .row .works .work a {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 17px;
  background-color: blueviolet;
  color: white;
  transition: all 0.3s;
  box-shadow: 0 0 5px gray;
}

.our-works .row .works .work a:hover {
  background-color: rgb(224, 224, 224);
  transform: scale(1.1);
  color: rgb(226, 43, 195);
}

.our-works .row .work-tab {
  margin: auto;
  text-align: center;
}

.our-works .row .work-tab h3 {
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: 1px;
}

.our-works .row .work-tab span {
  margin: 0 3px;
  font-size: 15px;
  border: 1px solid white;
  background-color: var(--bg-color);
  padding: 3px 7px;
  border-radius: 6px;
  cursor: pointer;
}

.our-works .row .work-tab .active-work-tab {
  background: var(--theme-color);
  padding: 5px 10px;
  border: none;
  box-shadow: 0 0 6px 2px grey;
  color: white;
}

/*------------------------media query start---------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {

  .container {
    width: 75%;
    margin: auto;
    position: relative;
  }

  /* -------------graphics srvices section start ------------------ */
  .graphics-services .row .services .service {
    flex-basis: 330px;
    text-align: center;
    margin: 15px 0;
    background: var(--bg-color);
    padding: 10p 5px;
    border-radius: 8px;
    transition: all 0.3s;
  }

  /* -------------graphics srvices section end------------------ */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) and (max-width:1200px) {

  .container {
    width: 90%;
  }

  /* -------------graphics srvices section start ------------------ */
  .graphics-services .row .services .service {
    flex-basis: 300px;
    text-align: center;
    margin: 15px 0;
    background: rgb(29, 29, 29);
    padding: 10p 5px;
    border-radius: 8px;
    transition: all 0.3s;
  }

  .our-works .row .works .work {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    text-align: left;
    margin: 10px 0;
    padding: 10px 5px;
  }

  /* -------------graphics srvices section end------------------ */

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:1024px) {

  .container {
    width: 95%;
  }

  .graphics-banner .row .left {
    flex-basis: 50%;
  }

  .graphics-banner .row .left h1 {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .graphics-banner .row .left p {
    color: gray;
    font-size: 17px;
    line-height: 24px;
  }

  .graphics-banner .row .left .button {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 5px 0;
  }

  .graphics-banner .row .left .button .getStarted {
    text-align: center;
    width: 130px;
  }

  .graphics-banner .row .left .button .getStarted a {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    padding: 7px 15px;
    text-align: center;
    border-radius: 17px;
    background-color: blueviolet;
    color: white;
    transition: all 0.4s;
    box-shadow: 0 0 5px gray;
  }

  .graphics-banner .row .left .button .getStarted a:hover {
    background-color: rgb(224, 224, 224);
    transform: scale(1.2);
    color: rgb(226, 43, 195);
  }

  .graphics-banner .row .left .button .play {
    width: 50px;
    margin-left: 5px;
  }

  .graphics-banner .row .left .button .play i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
  }

  .graphics-banner .row .left .button .play i:hover {
    transform: scale(1.08);
  }

  .graphics-banner .row .right {
    flex-basis: 45%;
    height: 100%;
  }

  .graphics-banner .row .right .banner-img:hover {
    transform: scale(1.08) rotate(15deg);
  }

  /* -------------graphics srvices section start ------------------ */
  .graphics-services .row .services {
    justify-content: space-around;
  }

  .graphics-services .row .services .service {
    flex-basis: 330px;
    text-align: center;
    margin: 15px 5px;
    background: rgb(29, 29, 29);
    padding: 10px 5px;
    border-radius: 8px;
    transition: all 0.3s;
  }

  /* -------------graphics srvices section end------------------ */

  .our-works .row .works {
    justify-content: space-around;
  }

  .our-works .row .works .work {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    text-align: left;
    margin: 10px 0;
    padding: 10px 5px;
  }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) {

  .container {
    width: 95%;
    margin: auto;
  }

  .graphics-banner .row {
    flex-wrap: wrap;
  }

  .graphics-banner .row .left {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .graphics-banner .row .left h1 {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .graphics-banner .row .left p {
    color: gray;
    font-size: 17px;
    line-height: 24px;
  }

  .graphics-banner .row .left .button {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 5px 0;
  }

  .graphics-banner .row .left .button .getStarted {
    text-align: center;
    width: 130px;
  }

  .graphics-banner .row .left .button .getStarted a {
    display: inline-block;
    font-size: 14px;
    padding: 7px 15px;
  }

  .graphics-banner .row .left .button .getStarted a:hover {
    background-color: rgb(224, 224, 224);
    transform: scale(1.2);
    color: rgb(226, 43, 195);
  }

  .graphics-banner .row .left .button .play {
    width: 50px;
    margin-left: 5px;
  }

  .graphics-banner .row .left .button .play i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
  }

  .graphics-banner .row .left .button .play i:hover {
    transform: scale(1.08);
  }

  .graphics-banner .row .right {
    flex-basis: 100%;
    text-align: center;
  }

  .graphics-banner .row .right .banner-img {
    margin: auto;

  }

  .graphics-banner .row .right .banner-img:hover {
    transform: scale(1.08) rotate(15deg);
  }

  /* -------------graphics srvices section start ------------------ */
  .graphics-services .row .services {
    justify-content: space-around;
  }

  .graphics-services .row .services .service {
    flex-basis: 300px;
    text-align: center;
    flex-grow: 1;
    margin: 15px 5px;
    background: rgb(29, 29, 29);
    padding: 10px 5px;
    border-radius: 8px;
    transition: all 0.3s;
  }

  /* -------------graphics srvices section end------------------ */

  .our-works .row .works {
    justify-content: space-around;
  }

  .our-works .row .works .work {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    text-align: left;
    margin: 10px 0;
    padding: 5px 5px;
  }

  .our-works .row .work-tab span {
    margin: 0 3px;
    font-size: 13px;
  }

  .our-works .row .work-tab .active-work-tab {
    background: blueviolet;
    padding: 4px 8px;
    border: none;
    box-shadow: 0 0 6px 2px grey;
  }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
  .container {
    width: 100%;
  }

  .graphics-banner .row {
    padding: 0 3px;
  }

  .graphics-banner .row .left {
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .graphics-banner .row .left h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .graphics-banner .row .left p {
    color: gray;
    font-size: 14px;
    line-height: 20px;
  }

  .graphics-banner .row .left .button {
    justify-content: space-around;
    margin: 5px 0;
  }

  .graphics-banner .row .left .button .getStarted {
    text-align: center;
    width: 120px;
  }

  .graphics-banner .row .left .button .getStarted a {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
    border-radius: 15px;
  }

  .graphics-banner .row .left .button .play {
    width: 40px;
    margin-left: 5px;
  }

  .graphics-banner .row .left .button .play i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
  }

  .graphics-banner .row .left .button .play i:hover {
    transform: scale(1.08);
  }

  .graphics-banner .row .right {
    flex-basis: 100%;
    text-align: center;
  }

  .graphics-banner .row .right .banner-img {
    margin: auto;
    width: 100%;
  }

  .graphics-banner .row .right .banner-img:hover {
    transform: scale(1.08) rotate(15deg);
  }

  /* -------------graphics srvices section start ------------------ */
  .graphics-services .row {
    padding: 0 3px;
  }

  .graphics-services .row .services .service {
    flex-basis: 300px;
    text-align: center;
    flex-grow: 1;
    margin: 10px 0;
    padding: 5px;
  }

  .our-works {
    margin-bottom: 110px;
  }

  .our-works .row {
    padding: 10px 3px;
  }

  .our-works .row .works .work {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    text-align: left;
    margin: 5px 0;
    padding: 5px 5px;
  }

  .our-works .row .works .work .img {
    margin-bottom: 10px;
  }

  .our-works .row .works .work h2 {
    font-size: 17px;
    margin-bottom: 0px;
  }

  .our-works .row .works .work p {
    font-size: 14px;
  }

}

/*------------------------media query end---------------------*/