/*------------google fonts links-------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 245, 245);
}

:root {
  --theme-color: rgb(11, 71, 127);
  --btn-bg-hover: rgb(209, 223, 222);
  --primary-color: rgb(29, 7, 47);
  --secondary-color: rgb(23, 1, 43);
  --bg-color: white;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: auto;
  position: relative;
}


/* swiper slider */

.slide-container {
  position: relative;
  width: 100vw;
  height: 60vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-img {
  width: 100%;
  height: 100%;
}

.swiper-img img {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  margin: 0 10px;
  color: blueviolet;
  box-shadow: 0px 2px 3px rgb(44, 25, 54);
}

/*------photo service top para start------*/

.photo-service {
  margin-bottom: 30px;
}

.photo-service .content .heading h1 {
  margin: 20px 0;
  font-size: 50px;
  font-weight: 500;
  color: var(--primary-color);
}


.photo-service .content .para p {
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  color: var(--secondary-color);
}

/*------photo service top para end------*/

/* -------------Photo-sample section start ------------------ */
.photo-sample {
  background: white;
  margin: 20px 0;
}

.photo-sample .row {
  padding: 20px 0;
}

.photo-sample .row h1 {
  font-size: 50px;
  font-weight: 500;
  color: var(--primary-color);
}

.photo-sample .row .sample-container {
  display: flex;
  margin-top: 20px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.sample {
  display: block;
  margin: 20px 0;
  min-width: 300px;
  flex-basis: 300px;
  position: relative;
  border-radius: 7px;
  box-shadow: 0 0 10px grey;
  overflow: hidden;
}

.sample .images {
  width: 100%;
  height: 100%;
  display: flex;
}

.sample .images .before-img {
  width: 100%;
  height: 100%;
  display: flex;
}

.sample .images .before-img img {
  width: 100%;
  height: 100%;
  display: flex;
}

.sample .images .after-img {
  position: absolute;
  width: 50%;
  overflow: hidden;
}

.sample .images .after-img img {
  width: auto;
  height: 195px;
}

.sample .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sample .slider input {
  -webkit-appearance: none;
  background: none;
  width: 100%;
  height: 100%;
}

.sample .slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 199px;
  width: 3px;
  cursor: col-resize;
}

.sample .slider .divider {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: black;
}

.sample .slider .divider span {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
  cursor: col-resize;
}

.sample .slider .divider span i {
  line-height: 30px;
  font-size: 22px;
  color: black;
  font-weight: 600;
  cursor: col-resize;
}

/* -------------Photo-sample section start ------------------ */


/* -------------Photo editing services section start ------------------ */
.photo-editing-services .row {
  padding: 15px 0;
}

.photo-editing-services .row h1 {
  font-size: 50px;
  font-weight: 500;
  color: var(--primary-color);
}

.photo-editing-services .row .services {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.photo-editing-services .row .services .service {
  border-radius: 7px;
  flex-basis: 300px;
  margin: 20px 0;
  overflow: hidden;
}

.photo-editing-services .row .services .service .bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 7px;
}

.photo-editing-services .row .services .service .bg img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.photo-editing-services .row .services .service .layer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.photo-editing-services .row .services .service .layer img {
  width: 150px;
  height: 150px;
  border-radius: 7px;
  transition: all 0.1s;
}

.photo-editing-services .row .services .service h3 {
  font-weight: 500;
  text-align: left;
  margin: 10px 0;
  color: var(--secondary-color);
}

.photo-editing-services .row .services .service .layer:hover img {
  animation: rotate 0.1s infinite;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out;

}


/*----------------more-About photo editing---------------*/
.more-about-photo-editing {
  margin: 10px 0;
}

.more-about-photo-editing .row {
  padding: 10px 0;
}

.more-about-photo-editing .row .about-container {
  display: flex;
  margin: 10px 0;
  text-align: left;
  justify-content: space-around;
}

.more-about-photo-editing .row .about-container .box {
  padding: 10px;
  min-width: 300px;
  flex-basis: 450px;
  text-align: left;
  margin: 20px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}

.more-about-photo-editing .row .about-container .icon {
  margin: 20px 5px;
}

.more-about-photo-editing .row .about-container .icon i {
  font-size: 35px;
  color: rgb(236, 57, 51);
}

.more-about-photo-editing .row .about-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--primary-color);
}

.more-about-photo-editing .row .about-container p {
  font-size: 18px;
  line-height: 25px;
  color: var(--secondary-color);
}

/*------------------------media query start---------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {

  .container {
    width: 75%;
    margin: auto;
    position: relative;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) and (max-width:1200px) {

  .container {
    width: 90%;
  }

  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:1024px) {
  .container {
    width: 95%;
  }

  .photo-sample .row .sample-container {
    display: flex;
    margin-top: 20px 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
  }

  /* -------------Photo editing services section start ------------------ */
  .photo-editing-services .row {
    padding: 15px 0;
  }

  .photo-editing-services .row h1 {
    font-size: 50px;
    font-weight: 500;
    color: blueviolet;
  }

  .photo-editing-services .row .services {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }

  .photo-editing-services .row .services .service {
    border-radius: 7px;
    flex-basis: 300px;
    margin: 20px 0;
    overflow: hidden;
  }

  .photo-editing-services .row .services .service .bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
  }

  .photo-editing-services .row .services .service .bg img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

  .photo-editing-services .row .services .service .layer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

  .photo-editing-services .row .services .service .layer img {
    width: 150px;
    height: 150px;
    border-radius: 7px;
    transition: all 0.1s;
  }

  .photo-editing-services .row .services .service h3 {
    font-weight: 500;
    text-align: left;
    margin: 10px 0;
  }

  .photo-editing-services .row .services .service .layer:hover img {
    animation: rotate 0.1s infinite;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;

  }

  /*----------------more-About photo editing---------------*/
  .more-about-photo-editing {
    margin: 10px 0;
    margin-bottom: 50px;
  }

  .more-about-photo-editing .row {
    padding: 10px 0;
  }

  .more-about-photo-editing .row .about-container {
    display: flex;
    margin: 10px 0;
    text-align: left;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .more-about-photo-editing .row .about-container .box {
    padding: 5px;
    min-width: 300px;
    flex-basis: 350px;
    text-align: left;
    margin: 20px 3px;
  }

  .more-about-photo-editing .row .about-container .icon i {
    font-size: 35px;
    color: rgb(236, 57, 51);
  }

  .more-about-photo-editing .row .about-container h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    color: blueviolet;
  }

  .more-about-photo-editing .row .about-container p {
    font-size: 18px;
    line-height: 25px;
  }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) {

  .container {
    width: 95%;
    margin: auto;
  }

  /*------photo service top para start------*/

  .photo-service {
    margin-bottom: 50px;
  }

  .photo-service .content .heading {
    text-align: center;
  }

  .photo-service .content .heading h1 {
    margin: 10px 0;
    font-size: 35px;
  }

  .photo-service .content .para {
    padding: 5px;
  }

  .photo-service .content .para p {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    word-wrap: break-word;
  }

  /*------photo service top para end------*/


  /* -------------Photo-sample section start ------------------ */
  .photo-sample {
    background: white;
    margin: 0;
  }

  .photo-sample .row h1 {
    font-size: 35px;

  }

  .photo-sample .row .sample-container {
    display: flex;
    margin-top: 20px 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .sample {
    display: block;
    margin: 15px 5px;
    min-width: 200px;
    flex-basis: 300px;
    max-height: 200px;
    position: relative;
  }


  .sample .images .after-img {
    position: absolute;
    width: 50%;
    overflow: hidden;
  }

  .sample .images .after-img img {
    width: auto;
    min-height: 150px;
    max-height: 200px;
  }

  .sample .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .sample .slider input {
    -webkit-appearance: none;
    background: none;
    width: 100%;
    height: 100%;
  }

  .sample .slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 199px;
    width: 3px;
    cursor: col-resize;
  }

  .sample .slider .divider {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: black;
  }

  .sample .slider .divider span {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
    cursor: col-resize;
  }

  .sample .slider .divider span i {
    line-height: 25px;
    font-size: 18px;
    color: black;
    font-weight: 600;
    cursor: col-resize;
  }

  /* -------------Photo-sample section start ------------------ */

  /* -------------Photo editing services section start ------------------ */
  .photo-editing-services .row {
    padding: 10px 0;
  }

  .photo-editing-services .row h1 {
    font-size: 35px;
  }

  .photo-editing-services .row .services {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }

  .photo-editing-services .row .services .service {
    border-radius: 7px;
    flex-basis: 300px;
    margin: 5px 0;
    overflow: hidden;
  }

  .photo-editing-services .row .services .service .bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
  }

  .photo-editing-services .row .services .service .bg img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

  .photo-editing-services .row .services .service .layer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

  .photo-editing-services .row .services .service .layer img {
    width: 150px;
    height: 150px;
    border-radius: 7px;
    transition: all 0.1s;
  }

  .photo-editing-services .row .services .service h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin: 3px 2px;
  }

  /*----------------more-About photo editing---------------*/
  .more-about-photo-editing {
    margin: 10px 0;
    margin-bottom: 90px;
  }

  .more-about-photo-editing .row {
    padding: 0;
  }

  .more-about-photo-editing .row .about-container {
    display: flex;
    margin: 0;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
  }

  .more-about-photo-editing .row .about-container .box {
    padding: 5px;
    min-width: 200px;
    flex-basis: 350px;
    text-align: left;
    margin: 10px 3px;
    flex-grow: 1;
  }

  .more-about-photo-editing .row .about-container .icon i {
    font-size: 30px;
    color: rgb(236, 57, 51);
  }

  .more-about-photo-editing .row .about-container h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 32px;
    color: blueviolet;
  }

  .more-about-photo-editing .row .about-container p {
    font-size: 16px;
    line-height: 22px;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
  .container {
    width: 100%;
  }

}

/*------------------------media query end---------------------*/