/*------------google fonts links-------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 245, 245);
}

:root {
  --theme-color: rgb(11, 71, 127);
  --btn-bg-hover: rgb(209, 223, 222);
  --primary-color: rgb(29, 7, 47);
  --secondary-color: rgb(23, 1, 43);
  --bg-color: white;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: auto;
  position: relative;
}

/* -------------Video Editing banner section start ------------------ */
.video-editing-banner {
  width: 100%;
  height: 100%;
}

.video-editing-banner .banner-container {
  height: 87.5vh;
}

.video-editing-banner .banner-container .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-editing-banner .banner-container .bannerlayer {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-editing-banner .banner-container .bannerlayer .title h1 {
  color: whitesmoke;
  z-index: 9;
  font-size: 40px;
}

.video-editing-banner .banner-container .bannerlayer .title .ytbtn {
  margin-top: 20px;
}

.video-editing-banner .banner-container .bannerlayer .title .ytbtn a {
  text-decoration: none;
  display: inline-block;
  padding: 7px 30px;
  background-color: red;
  border-radius: 15px;
  color: whitesmoke;
  transition: all 0.4s;
}

.video-editing-banner .banner-container .bannerlayer .title .ytbtn a:hover {
  transform: scale(1.2);
  color: black;
  background-color: rgb(209, 223, 222);
}

.video-editing-banner .banner-container .swiper {
  width: 100%;
  height: 100%;
  display: flex;
}

.video-editing-banner .banner-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.video-editing-banner .banner-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fit;
}

.video-editing-banner .banner-container .swiper .swiper-button-next {
  margin-right: 15px;
  color: whitesmoke;
}

.video-editing-banner .banner-container .swiper .swiper-button-prev {
  margin-left: 10px;
  color: whitesmoke;
}

/* ------------.absolute-on-banner section start ------------------ */
.absolute-on-banner {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
}

.absolute-on-banner .container .row {
  height: 100%;
}

.absolute-on-banner .row .box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.absolute-on-banner .row .box-container .col {
  background: var(--bg-color);
  margin-bottom: 20px;
  padding: 8px 5px;
  min-width: 300px;
  flex-basis: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 10px gray;
  transition: all 0.4s;
}

.absolute-on-banner .row .box-container .col .img {
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s;
}

.absolute-on-banner .container img {
  max-width: inherit;
  height: 200px;
}

.absolute-on-banner .row .box-container .col .heading {
  margin-bottom: 10px;
  color: var(--primary-color);
}

.absolute-on-banner .row .box-container .col .heading h2 {
  font-weight: 600;
}

.absolute-on-banner .row .box-container .col .para {
  margin-bottom: 10px;
  font-size: 17px;
  color: var(--secondary-color);
  font-weight: 600;
}

.absolute-on-banner .row .box-container .col .para p {
  font-weight: 500;
}

.absolute-on-banner .container img {
  width: 100%
}

.absolute-on-banner .row .box-container .col:hover .img {
  transform: perspective(500px) scale(1.02) translateY(-20px) translateX(-10px);
}

/* ------------video catagories-section start ------------------ */
.video-catagories {
  background: var(--bg-color);
  margin-bottom: 20px;
  padding: 50px 0;
}

.video-catagories .row .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.video-catagories .row .head .left-title {
  flex-basis: 70%;
}

.video-catagories .row .head .left-title h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--primary-color);

}

.video-catagories .row .head .left-title p {
  font-size: 18px;
  color: var(--secondary-color);
}

.video-catagories .row .head .right-btn {
  flex-basis: 25%;
  text-align: right;
}

.video-catagories .row .head .right-btn a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 25px;
  background: var(--theme-color);
  border-radius: 18px;
  color: whitesmoke;
  font-size: 15px;
  transition: all 0.3s;
  box-shadow: 0 3px 10px gray;
}

.video-catagories .row .head .right-btn a:hover {
  background: rgb(222, 227, 230);
  color: var(--secondary-color);
  transform: scale(1.04) translateY(-10px);
}

/*------swiper-slider-------*/
.catagories-container .swiper {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.catagories-container .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  max-width: 400px;
  height: 220px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.catagories-container .swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-shadow: 0 2px 8px grey
}

.catagories-container .swiper-slide .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.catagories-container .swiper-slide .layer .title {
  margin-bottom: 10px;
}

.catagories-container .swiper-slide .layer h4 {
  font-size: ;
  color: rgba(243, 6, 6, 0.977);
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.catagories-container .swiper-slide .layer a {
  display: inline-block;
  text-decoration: none;
  padding: 3px 15px;
  border-radius: 8px;
  background: red;
  color: whitesmoke;
  font-size: 12px;
  transition: all 0.4s;
}

.catagories-container .swiper-slide .layer a:hover {
  transform: scale(1.05) translateY(-5px);
}

/* ------------video editing services-section start ------------------ */
.video-editing-services {
  margin-bottom: 70px;
}

.video-editing-services .row {
  padding: 20px 0;
}

.video-editing-services .row .section-heading h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.video-editing-services .row .tab-container {
  background: var(--bg-color);
}

.video-editing-services .row .tab-container span {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 14px;
  color: black;
  font-weight: 500;
  text-align: center;
  max-width: 250px;
  cursor: pointer;
  transition: ALL 0.4s;
}

.video-editing-services .row .tab-container span:hover {
  background: rgb(209, 223, 222);
  border-radius: 10px;
  color: black;
}

.video-editing-services .row .tab-container .active-work-tab {
  background: rgb(209, 223, 222);
  border-radius: 10px;
  color: black;
  font-size: 15px;

}

.video-editing-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}

.video-editing-works .works {
  display: none;
}

.video-editing-works .active-work .work {
  flex-basis: 310px;
  min-width: 300px;
  margin-bottom: 20px;
}

.video-editing-works .active-work .work .img {
  display: flex;
  background: var(--bg-color);
}

.video-editing-works .active-work .work img {
  width: 100%;
  transition: all 0.4s;
}

.video-editing-works .active-work .work img:hover {
  transform: perspective(1000px) rotateY(180deg) scale(0.8);
}

.video-editing-works .active-work {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*------swiper-slider-------*/
.video-editing-services .swiper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.video-editing-services .swiper-slide {
  text-align: center;
  padding: 5px 0;
  max-width: 300px;
  border-right: 1px solid rgb(190, 176, 176);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.video-editing-services .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*------------------------media query start---------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {

  .container {
    width: 80%;
    margin: auto;
    position: relative;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) and (max-width:1200px) {

  .container {
    width: 90%;
  }

  .absolute-on-banner .row .box-container .col {
    background: var(--bg-color);
    margin-bottom: 10px;
    padding: 8px;
    flex-basis: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 10px gray;
    transition: all 0.4s;
  }

  .absolute-on-banner .row .box-container .col .heading {
    margin-bottom: 10px;
    color: var(--primary-color);
  }

  .absolute-on-banner .row .box-container .col .heading h2 {
    font-weight: 600;
    font-size: 20px;
  }

  .absolute-on-banner .row .box-container .col .para {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 600;
  }

  .absolute-on-banner .row .box-container .col .para p {
    font-weight: 500;
  }

  .video-editing-works .active-work .work {
    flex-basis: 300px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:1024px) {

  .container {
    width: 95%;
  }

  .absolute-on-banner .row .box-container .col {
    background: var(--bg-color);
    margin-bottom: 10px;
    padding: 3px;
    min-width: 200px;
    flex-basis: 240px;
    border-radius: 5px;
    box-shadow: 0 2px 10px gray;
    transition: all 0.4s;
  }

  .absolute-on-banner .row .box-container .col .heading {
    margin-bottom: 5px;
    color: var(--primary-color);
  }

  .absolute-on-banner .row .box-container .col .heading h2 {
    font-weight: 600;
    font-size: 20px;
  }

  .absolute-on-banner .row .box-container .col .para {
    margin-bottom: 5px;
    font-size: 15px;
    color: var(--secondary-color);
    font-weight: 600;
  }

  .video-editing-works .works {
    justify-content: space-around;
  }

  .video-editing-works .active-work .work {
    flex-basis: 300px;
  }

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) {

  .container {
    width: 95%;
    margin: auto;
  }

  .video-editing-banner .banner-container {
    height: 100%;
  }


  .video-editing-banner .banner-container .bannerlayer .title h1 {
    color: whitesmoke;
    z-index: 9;
    font-size: 25px;
  }

  .video-editing-banner .banner-container .bannerlayer .title .ytbtn {
    margin-top: 10px;
  }

  .video-editing-banner .banner-container .bannerlayer .title .ytbtn a {
    font-size: 15px;
  }

  .video-editing-banner .banner-container .swiper .swiper-button-next {
    margin-right: 0px;
    color: whitesmoke;
  }

  .video-editing-banner .banner-container .swiper .swiper-button-prev {
    margin-left: 10px;
    color: whitesmoke;
  }

  .absolute-on-banner .row .box-container .col {
    background: var(--bg-color);
    margin-bottom: 10px;
    padding: 3px;
    min-width: 200px;
    flex-basis: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 10px gray;
    transition: all 0.4s;
  }

  .absolute-on-banner .row .box-container .col img {
    height: 100%;
    object-position: center;
  }

  .video-editing-services {
    margin-bottom: 70px;
  }

  .video-editing-services .row {
    padding: 20px 0;
  }

  .video-editing-services .row .section-heading h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .video-editing-works .works {
    justify-content: space-around;
  }

  .video-editing-works .active-work .work {
    flex-basis: 250px;
    min-width: 200px;
    margin: 15px 5px;
    flex-grow: 1;
  }

  .video-editing-works .works .work h2 {
    font-size: 22px;
    margin: 5px 0;
  }

  .video-editing-works .works .work p {
    font-size: 16px;

  }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
  .container {
    width: 100%;
  }

  #banner .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .absolute-on-banner .row {
    padding-left: 3px;
    padding-right: 3px;
  }

  /* ------------video catagories-section start ------------------ */
  .video-catagories {
    padding: 20px 0;
  }

  .video-catagories .row {
    padding-left: 3px;
    padding-right: 3px;
  }

  .video-catagories .row .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .video-catagories .row .head .left-title {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .video-catagories .row .head .left-title h1 {
    font-size: 22px;
    margin-bottom: 10px;

  }

  .video-catagories .row .head .left-title p {
    font-size: 16px;
  }

  .video-catagories .row .head .right-btn {
    flex-basis: 100%;
    text-align: left;
  }

  .video-catagories .row .head .right-btn a {
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 14px;
  }

  /*------swiper-slider-------*/
  .catagories-container .swiper {
    width: 100%;
    height: 100%;
    padding: 5px;
  }

  .catagories-container .swiper-slide {
    max-width: 420px;
    min-height: 170px;
    max-height: 190px;
  }

  .video-editing-services .row {
    padding: 20px 3px;
  }

}

/*------------------------media query end---------------------*/