/*------------google fonts links-------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 245, 245);
}

:root {
  --theme-color: rgb(11, 71, 127);
  --btn-bg-hover: rgb(209, 223, 222);
  --primary-color: rgb(29, 7, 47);
  --secondary-color: rgb(23, 1, 43);
  --bg-color: white;
}

/*  header start */
.header {
  z-index: 99;
  width: 100%;
  background-color: var(--theme-color);
  box-shadow: 0px 2px 8px grey;
}

.container {
  width: 75%;
  margin: auto;
  position: relative;
}

.header .container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header .container .row .left {
  flex-basis: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.header .container .row .left .address {
  flex-basis: 380px;
}

.header .container .row .left p {
  font-size: 16px;
  color: whitesmoke;
  padding: 5px 7px;
  text-align: left;
  line-height: 20px;
}

.header .container .row .left .address p {
  padding-left: 0;
  border-right: 1px solid whitesmoke;
}

.header .container .row .left .phone {
  flex-basis: 360px;
}

.header .container .row .left .phone p {
  padding-left: 0;
}

.header .container .row .left p i {
  font-size: 16px;
  color: whitesmoke;
}

.header .container .row .right {
  flex-basis: 190px;
  text-align: right;
}

.header .container .row .right .social-icons {
  padding: 5px 0;
}

.header .container .row .right .social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.header .container .row .right .social-icons a i {
  font-size: 20px;
  margin: auto;
  font-weight: 1000;
  line-height: 30px;
}

.header .container .row .right .social-icons .fb {
  color: rgb(0, 90, 192);
  margin-left: 0;
}

.header .container .row .right .social-icons .insta {
  color: rgb(211, 12, 218);
}

.header .container .row .right .social-icons .twitter {
  color: rgb(32, 19, 219);
}

.header .container .row .right .social-icons .youtube {
  color: rgb(219, 29, 15);
}

.header .container .row .right .social-icons .linkedin {
  color: rgb(5, 66, 197);
}

.header .container .row .right .social-icons a:hover {
  background-color: rgb(177, 177, 177);
  background: rgb(145, 139, 139);
}

/*  header end */

/* navbar start */
#navbar {
  width: 100%;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 8px grey;
  margin-bottom: 2px;
}

#navbar .row {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.toggle-btn {
  position: absolute;
  top: 8px;
  right: 0px;
  width: 30px;
  display: none;
  margin-left: auto;
}

#toggle {
  display: none;
}

.toggle-btn span i {
  font-size: 23px;
  color: var(--theme-color);
  cursor: pointer;
}

.menu .logo {
  margin: 3px 0;
  width: 160px;
}

.menu .logo img {
  width: 100%;
}

.menu>ul {
  flex-basis: 650px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.menu>ul>li {
  margin-left: 8px;
}

.menu>ul>li>a {
  display: inline-block;
  padding: 6px 15px;
  font-size: 17px;
  text-decoration: none;
  color: rgb(19, 18, 18);
  border-radius: 10px;
  transition: all 0.3s;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu>ul>li>a:hover {
  background-color: rgb(209, 223, 222);
  color: var(--theme-color);
}

.menu .btn {
  border: none;
  display: inline-block;
  background-color: white;
}

.menu .btn a {
  display: inline-block;
  font-size: 16px;
  padding: 6px 15px;
  text-decoration: none;
  color: rgb(240, 251, 255);
  background-color: var(--theme-color);
  border-radius: 10px;
  transition: all 0.3s;
}

.menu .btn a:hover {
  background-color: rgb(209, 223, 222);
  color: black;
}

.menu>ul>li>.submenu-1 {
  position: absolute;
  top: 90%;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  padding: 5px;
  list-style: none;
  box-shadow: 0px 5px 4px grey;
  background-color: rgb(248, 251, 255);
  transform: translateY(50px);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.menu>ul>li:hover>.submenu-1 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.submenu-1 .deep-menu {
  display: flex;
  max-width: 250px;
  list-style: none;
  text-align: left;
}

.submenu-1 .deep-menu h5 {
  background: rgb(220, 220, 220);
  padding: 5px 0;
  padding-left: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.menu ul li:hover {
  display: block;
  flex-direction: column;
}

.submenu-1>.deep-menu {
  display: flex;
  flex-direction: column;
}

.submenu-1>.deep-menu>li {
  list-style: none;
  padding: 0px 0;
  margin-top: 5px;
}

.submenu-1>.deep-menu>ul {
  list-style: none;
}

.submenu-1>.deep-menu>ul>li {
  margin-bottom: 2px;
}

.submenu-1>.deep-menu>ul>li a {
  display: inline-block;
  line-height: 15px;
  padding: 3px 0;
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
  color: rgb(17, 17, 17);
  border-radius: 10px;
  transition: all 0.5s;
}

.submenu-1>.deep-menu>ul>li a:hover {
  background-color: rgb(224, 224, 224);
}

.submenu-1 .deep-menu i {
  margin-left: 8px;
  font-size: 14px;
  color: rgb(17, 17, 17);
  display: none;
}

.submenu-1 .toggle {
  display: none;
}

/* -------------Video Editing banner section start ------------------ */
.video-editing-banner {
  width: 100%;
  height: 100%;
}

.video-editing-banner .banner-container {
  height: 87.5vh;
}

.video-editing-banner .banner-container .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-editing-banner .banner-container .bannerlayer {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-editing-banner .banner-container .bannerlayer .title h1 {
  color: whitesmoke;
  z-index: 9;
  font-size: 40px;
}

.video-editing-banner .banner-container .bannerlayer .title .ytbtn {
  margin-top: 20px;
}

.video-editing-banner .banner-container .bannerlayer .title .ytbtn a {
  text-decoration: none;
  display: inline-block;
  padding: 7px 30px;
  background-color: red;
  border-radius: 15px;
  color: whitesmoke;
  transition: all 0.4s;
}

.video-editing-banner .banner-container .bannerlayer .title .ytbtn a:hover {
  transform: scale(1.2);
  color: black;
  background-color: rgb(209, 223, 222);
}

.video-editing-banner .banner-container .swiper {
  width: 100%;
  height: 100%;
  display: flex;
}

.video-editing-banner .banner-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.video-editing-banner .banner-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fit;
}

.video-editing-banner .banner-container .swiper .swiper-button-next {
  margin-right: 15px;
  color: whitesmoke;
}

.video-editing-banner .banner-container .swiper .swiper-button-prev {
  margin-left: 10px;
  color: whitesmoke;
}

/* ------------.absolute-on-banner section start ------------------ */
.absolute-on-banner {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
}

.absolute-on-banner .container .row {
  height: 100%;
}

.absolute-on-banner .row .box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.absolute-on-banner .row .box-container .col {
  background: var(--bg-color);
  margin-bottom: 20px;
  padding: 8px 5px;
  min-width: 300px;
  flex-basis: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 10px gray;
  transition: all 0.4s;
}

.absolute-on-banner .row .box-container .col .img {
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s;
}

.absolute-on-banner .container img {
  max-width: inherit;
  height: 200px;
}

.absolute-on-banner .row .box-container .col .heading {
  margin-bottom: 10px;
  color: var(--primary-color);
}

.absolute-on-banner .row .box-container .col .heading h2 {
  font-weight: 600;
}

.absolute-on-banner .row .box-container .col .para {
  margin-bottom: 10px;
  font-size: 17px;
  color: var(--secondary-color);
  font-weight: 600;
}

.absolute-on-banner .row .box-container .col .para p {
  font-weight: 500;
}

.absolute-on-banner .container img {
  width: 100%
}

.absolute-on-banner .row .box-container .col:hover .img {
  transform: perspective(500px) scale(1.02) translateY(-20px) translateX(-10px);
}

/* ------------video catagories-section start ------------------ */
.video-catagories {
  background: var(--bg-color);
  margin-bottom: 20px;
  padding: 50px 0;
}

.video-catagories .row .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.video-catagories .row .head .left-title {
  flex-basis: 70%;
}

.video-catagories .row .head .left-title h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--primary-color);

}

.video-catagories .row .head .left-title p {
  font-size: 18px;
  color: var(--secondary-color);
}

.video-catagories .row .head .right-btn {
  flex-basis: 25%;
  text-align: right;
}

.video-catagories .row .head .right-btn a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 25px;
  background: var(--theme-color);
  border-radius: 18px;
  color: whitesmoke;
  font-size: 15px;
  transition: all 0.3s;
  box-shadow: 0 3px 10px gray;
}

.video-catagories .row .head .right-btn a:hover {
  background: rgb(222, 227, 230);
  color: var(--secondary-color);
  transform: scale(1.04) translateY(-10px);
}

/*------swiper-slider-------*/
.catagories-container .swiper {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.catagories-container .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  max-width: 400px;
  height: 220px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.catagories-container .swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-shadow: 0 2px 8px grey
}

.catagories-container .swiper-slide .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.catagories-container .swiper-slide .layer .title {
  margin-bottom: 10px;
}

.catagories-container .swiper-slide .layer h4 {
  font-size: ;
  color: rgba(243, 6, 6, 0.977);
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.catagories-container .swiper-slide .layer a {
  display: inline-block;
  text-decoration: none;
  padding: 3px 15px;
  border-radius: 8px;
  background: red;
  color: whitesmoke;
  font-size: 12px;
  transition: all 0.4s;
}

.catagories-container .swiper-slide .layer a:hover {
  transform: scale(1.05) translateY(-5px);
}

/* ------------video editing services-section start ------------------ */
.video-editing-services {
  margin-bottom: 70px;
}
.video-editing-services .row{
  padding: 20px 0;
}

.video-editing-services .row .section-heading h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom:20px;
  color: var(--primary-color);
}

.video-editing-services .row .tab-container {
  background: var(--bg-color);
}

.video-editing-services .row .tab-container span {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 14px;
  color: black;
  font-weight: 500;
  text-align: center;
  max-width: 250px;
  cursor: pointer;
  transition: ALL 0.4s;
}

.video-editing-services .row .tab-container span:hover {
  background: rgb(209, 223, 222);
  border-radius: 10px;
  color: black;
}

.video-editing-services .row .tab-container .active-work-tab {
  background: rgb(209, 223, 222);
  border-radius: 10px;
  color: black;
  font-size: 15px;

}

.video-editing-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}

.video-editing-works .works {
  display: none;
}

.video-editing-works .active-work .work {
  flex-basis: 310px;
  min-width: 300px;
  margin-bottom: 20px;
}
.video-editing-works .active-work .work .img {
  display: flex;
  background: var(--bg-color);
}

.video-editing-works .active-work .work img {
  width: 100%;
  transition: all 0.4s;
}

.video-editing-works .active-work .work img:hover {
  transform: perspective(1000px) rotateY(180deg) scale(0.8);
}

.video-editing-works .active-work {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*------swiper-slider-------*/
.video-editing-services .swiper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.video-editing-services .swiper-slide {
  text-align: center;
  padding: 5px 0;
  max-width: 300px;
  border-right: 1px solid rgb(190, 176, 176);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.video-editing-services .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* -------------section-11 start ------------------ */
.section-11 {
  position: absolute;
  top: -8%;
  z-index: 2;
  width: 100%;
}

.section-11 .row {
  box-shadow: 2px 2px 5px gray;
  padding: 20px 0;
  background-image: linear-gradient(to right,
      rgb(30, 56, 202),
      rgb(132, 60, 226),
      rgb(167, 48, 236));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.section-11 .row .msg-img {
  flex-basis: 80px;
  margin: 15px 0;
}

.section-11 .row .msg-img img {
  width: 100%;
}

.section-11 .row .content-center {
  flex-basis: 500px;
  text-align: left;
}

.section-11 .row .content-center h1 {
  margin-bottom: 8px;
  font-size: 35px;
}

.section-11 .row .content-center p {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 25px;
  color: whitesmoke;
}

.section-11 .row .subscribe {
  flex-basis: 200px;
}

.section-11 .row .subscribe a {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(250, 34, 34);
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 500;
  transition: all 0.3s;
}

.section-11 .row .subscribe a:hover {
  background-color: rgb(187, 36, 31);
  transform: translateY(-5px);
  color: white;
}

/* -------------footer start ------------------ */

.section-footer {

  position: relative;
}

footer {
  background-color: var(--theme-color);
  padding-top: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 2px 2px 2px black;
  z-index: 1;
  width: 100%;
  position: relative;
}

footer .row {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  flex-wrap: nowrap;
}

footer img {
  padding: 2px;
  width: 50%;
  border-radius: 50% 50% 0% 10% / 20% 20% 10% 0%;
}

footer .row>div {
  flex-basis: 250px;
  padding: 20px 0;
  flex-wrap: nowrap;
  margin: 5px;
}

footer .row>div h3 {
  color: whitesmoke;
  font-weight: 600;
  font-size: 20px;
}

footer .logo {
  text-align: center;
  margin: auto;
  width: 150px;
}

footer img {
  width: 100%;
  height: auto;
}

footer .row div p {
  margin-top: 20px;
  font-size: 15px;
  text-align: left;
  line-height: 25px;
  padding: 3px;
  color: white;
}

footer .row div>.social-icons {
  list-style: none;
  display: flex;
  margin-top: 10px;
  padding: 5px;
}

footer .row div>.social-icons>li {
  margin: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}

footer .row div>.social-icons>li>a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s;
}

footer .row div>.social-icons>li>a i {
  color: black;
}

footer .row div>.social-icons>li>a:hover {
  background-color: rgb(209, 209, 209);
  transform: translateY(-10px);
}

footer .row .footer-links {
  width: 100%;
}

footer .row .footer-links ul {
  list-style: none;
}

footer .row h3 {
  margin-bottom: 20px;
  text-align: left;
  font-size: 20px;
}

footer .row .footer-links>ul li {
  text-align: left;
  margin: 10px 0;
}

footer .row .footer-links>ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

footer .row .footer-services ul {
  list-style: none;
}

footer .row .footer-services ul li {
  margin: 10px 0;
  text-align: left;
}

footer .row .footer-services>ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

footer .row .footer-contact p {
  font-size: 15px;
}

/* -------------copyright start ------------------ */

.copyright {
  background-color: var(--theme-color);
  border: 1px solid black;
}

.copyright .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
}

.copyright .row .left {
  text-align: left;
  margin: 10px 0;
}

.copyright .row p {
  font-size: 15px;
  color: white;
}

.copyright .row .right {
  margin: 10px 0;
  text-align: left;
}


/*------------------------media query start---------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {

  /*  header media query start */
  .header {
    width: 100%;
  }

  .container {
    width: 80%;
    margin: auto;
    position: relative;
  }

  .header .container .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .header .container .row .left {
    flex-basis: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .header .container .row .left .address {
    flex-basis: 330px;
  }

  .header .container .row .left p {
    font-size: 14px;
    line-height: 25px;
    padding: 2px 7px;
  }

  .header .container .row .left .phone {
    flex-basis: 370px;
  }

  .header .container .row .left .phone p {
    padding-left: 9px;
  }

  .header .container .row .left p i {
    font-size: 14px;
  }

  .header .container .row .right {
    flex-basis: 210px;
  }

  .header .container .row .right .social-icons {
    padding: 5px 0;
  }

  .header .container .row .right .social-icons a {
    display: inline-block;
    width: 25px;
    height: 25px;

  }

  .header .container .row .right .social-icons a i {
    font-size: 15px;
    margin: auto;
    line-height: 25px;
  }

  /*  header end */




}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) and (max-width:1200px) {

  /*  header media query start */
  .header {
    width: 100%;
  }

  .container {
    width: 90%;
  }

  .header .container .row .left {
    flex-basis: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .header .container .row .left .address {
    flex-basis: 330px;
  }

  .header .container .row .left p {
    font-size: 14px;
    line-height: 25px;
    padding: 2px 7px;
  }

  .header .container .row .left .phone {
    flex-basis: 370px;
  }

  .header .container .row .left .phone p {
    padding-left: 9px;
  }

  .header .container .row .left p i {
    font-size: 14px;
  }

  .header .container .row .right {
    flex-basis: 170px;
  }

  .header .container .row .right .social-icons {
    padding: 5px 0;
  }

  .header .container .row .right .social-icons a {
    display: inline-block;
    width: 25px;
    height: 25px;

  }

  .header .container .row .right .social-icons a i {
    font-size: 15px;
    margin: auto;
    line-height: 25px;
  }


  /*  header end */

  /* navbar start */
  #navbar {
    width: 100%;
    z-index: 99;
    margin-bottom: 2px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu .logo {
    margin: 3px 0;
    width: 140px;
  }

  .menu>ul {
    flex-basis: 650px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  /* navbar end */


  .absolute-on-banner .row .box-container .col {
    background: var(--bg-color);
    margin-bottom: 10px;
    padding: 8px;
    flex-basis: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 10px gray;
    transition: all 0.4s;
  }

  .absolute-on-banner .row .box-container .col .heading {
    margin-bottom: 10px;
    color: var(--primary-color);
  }

  .absolute-on-banner .row .box-container .col .heading h2 {
    font-weight: 600;
    font-size: 20px;
  }

  .absolute-on-banner .row .box-container .col .para {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 600;
  }

  .absolute-on-banner .row .box-container .col .para p {
    font-weight: 500;
  }

  .video-editing-works .active-work .work {
    flex-basis: 300px;
  }

  /* -------------footer start ------------------ */

  .section-footer {
    position: relative;
  }

  footer {
    padding-top: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: 1;
    width: 100%;
    position: relative;
  }

  footer .row {
    display: flex;
    justify-content: left;
    padding: 10px 0;
    flex-wrap: nowrap;
  }

  footer img {
    padding: 2px;
    width: 50%;
    border-radius: 50% 50% 0% 10% / 20% 20% 10% 0%;
  }

  footer .row>div {
    flex-basis: 250px;
    padding: 20px 0;
    flex-wrap: nowrap;
    margin: 5px;

  }

  footer .logo {
    text-align: center;
    margin: auto;
    width: 150px;
  }

  footer img {
    width: 100%;
    height: auto;
  }

  footer .row div {
    flex-basis: 350px;
  }

  footer .row div p {
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    line-height: 25px;
    padding: 3px;
  }

  footer .row div>.social-icons {
    list-style: none;
    display: flex;
    margin-top: 10px;
    padding: 5px;
  }

  footer .row div>.social-icons>li {
    margin: 10px;
    width: 30px;
    height: 30px;
    text-align: left;
    border-radius: 50%;
  }

  footer .row div>.social-icons>li>a {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s;
  }

  footer .row div>.social-icons>li>a:hover {
    transform: translateY(-10px);
  }

  footer .row .footer-links {
    width: 100%;
  }

  footer .row .footer-links ul {
    list-style: none;
  }

  footer .row h3 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
  }

  footer .row .footer-links>ul li {
    text-align: left;
    margin: 10px 0;
  }

  footer .row .footer-links>ul li a {
    text-decoration: none;
    font-size: 15px;
  }

  footer .row .footer-services ul {
    list-style: none;
  }

  footer .row .footer-services ul li {
    margin: 10px 0;
    text-align: left;
  }

  footer .row .footer-services>ul li a {
    text-decoration: none;
    font-size: 15px;
  }

  footer .row .footer-contact p {
    font-size: 15px;
  }

  /* -------------copyright start ------------------ */


  .copyright .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
  }

  .copyright .row .left {
    text-align: left;
    margin: 10px 0;
  }

  .copyright .row p {
    font-size: 15px;
  }

  .copyright .row .right {
    margin: 10px 0;
    text-align: left;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:1024px) {

  /*  header media query start */
  .header {
    width: 100%;
  }

  .container {
    width: 95%;
  }

  .header .container .row {
    width: 100%;
    justify-content: space-between;
  }

  .header .container .row .left {
    flex-basis: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
  }

  .header .container .row .left .address {
    flex-basis: 330px;
  }

  .header .container .row .left p {
    font-size: 14px;
    line-height: 17px;
    padding: 5px 7px;
  }

  .header .container .row .left .address p {
    border-right: none;
  }

  .header .container .row .left .phone {
    flex-basis: 275px;
  }

  .header .container .row .left p i {
    font-size: 14px;
  }

  .header .container .row .right {
    flex-basis: 200px;
  }

  .header .container .row .right .social-icons {
    padding: 5px 0;
  }

  .header .container .row .right .social-icons a {
    width: 25px;
    height: 25px;
    margin: 3px 0;
    margin-left: 5px;
  }

  .header .container .row .right .social-icons a i {
    font-size: 17px;
    line-height: 25px;
  }

  /*  header end */

  /* navbar start */
  #navbar {
    width: 100%;
    z-index: 99;
    margin-bottom: 2px;
  }

  #navbar .row {

    width: 100%;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu .logo {
    margin: 3px 0;
    width: 120px;
  }

  .menu .logo img {
    width: 100%;
  }

  .menu>ul {
    flex-basis: 450px;
  }

  .menu>ul>li {
    margin-left: 5px;
  }

  .menu>ul>li>a {
    display: inline-block;
    padding: 4px 5px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s;
  }

  .menu ul li:first-child {
    margin-left: 0;
  }

  .menu ul li:last-child {
    margin-right: 0;
  }


  .menu .btn {
    border: none;
    display: inline-block;
    width: 140px;
  }

  .menu .btn a {
    display: inline-block;
    font-size: 14px;
    padding: 4px 5px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s;
  }

  .menu>ul>li>.submenu-1 {
    position: absolute;
    top: 90%;
    left: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 99;
    padding: 5px;
    list-style: none;
    box-shadow: 0px 5px 4px grey;
    background-color: rgb(248, 251, 255);
    transform: translateY(50px);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  .absolute-on-banner .row .box-container .col {
    background: var(--bg-color);
    margin-bottom: 10px;
    padding: 3px;
    min-width: 200px;
    flex-basis: 240px;
    border-radius: 5px;
    box-shadow: 0 2px 10px gray;
    transition: all 0.4s;
  }

  .absolute-on-banner .row .box-container .col .heading {
    margin-bottom: 5px;
    color: var(--primary-color);
  }

  .absolute-on-banner .row .box-container .col .heading h2 {
    font-weight: 600;
    font-size: 20px;
  }

  .absolute-on-banner .row .box-container .col .para {
    margin-bottom: 5px;
    font-size: 15px;
    color: var(--secondary-color);
    font-weight: 600;
  }
  .video-editing-works .works{
    justify-content: space-around;
  }
  .video-editing-works .active-work .work {
    flex-basis: 300px;
  }

  /* -------------section-11 start ------------------ */
  .section-11 {
    position: absolute;
    top: -8%;
    z-index: 2;
    width: 100%;
  }

  .section-11 .row {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
  }

  .section-11 .row .msg-img {
    flex-basis: 70px;
    margin: 15px 10px;

  }

  .section-11 .row .msg-img img {
    width: 100%;
  }

  .section-11 .row .content-center {
    flex-basis: 500px;
    text-align: left;
  }

  .section-11 .row .content-center h1 {
    margin-bottom: 8px;
    font-size: 30px;
  }

  .section-11 .row .content-center p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 24px;
  }

  .section-11 .row .subscribe {
    flex-basis: 180px;
  }

  .section-11 .row .subscribe a {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;
  }

  .section-11 .row .subscribe a:hover {
    transform: translateY(-5px);
  }


  /* -------------footer start ------------------ */
  .section-footer {
    position: relative;
  }

  footer {
    padding-top: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: 1;
    width: 100%;
    position: relative;
  }

  footer .row {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    flex-wrap: wrap;
  }

  footer img {
    padding: 2px;
    width: 50%;
    border-radius: 50% 50% 0% 10% / 20% 20% 10% 0%;
  }

  footer .row>div {
    flex-basis: 45%;
    padding: 10px 0;
    flex-wrap: nowrap;
    margin: 5px 0;

  }

  footer .logo {
    text-align: center;
    margin: auto;
    width: 150px;
  }

  footer img {
    width: 100%;
    height: auto;
  }

  footer .row div {
    flex-basis: 350px;
  }

  footer .row div p {
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    line-height: 25px;
    padding: 3px;
  }

  footer .row div>.social-icons {
    list-style: none;
    display: flex;
    margin-top: 5px;
    padding: 5px;
  }

  footer .row div>.social-icons>li {
    margin: 10px;
    width: 30px;
    height: 30px;
    text-align: left;
    border-radius: 50%;
  }

  footer .row div>.social-icons>li>a {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s;
  }


  footer .row div>.social-icons>li>a:hover {
    transform: translateY(-10px);
  }

  footer .row .footer-links {
    width: 100%;
  }

  footer .row .footer-links ul {
    list-style: none;
  }

  footer .row h3 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
  }

  footer .row .footer-links>ul li {
    text-align: left;
    margin: 10px 0;
  }

  footer .row .footer-links>ul li a {
    text-decoration: none;
    font-size: 15px;
  }

  footer .row .footer-services ul {
    list-style: none;
  }

  footer .row .footer-services ul li {
    margin: 10px 0;
    text-align: left;
  }

  footer .row .footer-services>ul li a {
    text-decoration: none;
    font-size: 15px;
  }

  footer .row .footer-contact p {
    font-size: 15px;
  }

  /* -------------copyright start ------------------ */

  .copyright .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
  }

  .copyright .row .left {
    text-align: left;
    margin: 10px 0;
  }

  .copyright .row p {
    font-size: 15px;
  }

  .copyright .row .right {
    margin: 10px 0;
    text-align: left;
  }

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) {
  .toggle-btn {
    display: block;
  }

  /*  header media query start */
  .header {
    width: 100%;
    display: none;
  }

  .container {
    width: 95%;
    margin: auto;
  }

  /*  header end */

  #navbar {
    width: 100%;
    z-index: 99;
    margin-bottom: 2px;
  }

  #navbar .row {
    width: 100%;

  }

  #toggle:checked+ul {
    display: block;

  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .menu .logo {
    margin: 3px 0;
    width: 80px;
  }

  .menu .logo img {
    width: 100%;
  }

  .menu>ul {
    flex-basis: 650px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    display: none;
    transition: all 0.2s ease-in-out;
  }

  .menu>ul>li {
    margin: 5px;
    margin-left: 0;
  }

  .menu>ul>li>a {
    display: inline-block;
    padding: 4px 15px;
    margin: auto;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s;
  }

  .menu ul li:last-child {
    margin-right: 0;
  }

  .menu>ul>li>a:hover {}

  .menu .btn {
    border: none;
    width: 140px;
    display: none;
  }

  .menu .btn a {
    display: inline-block;
    font-size: 15px;
    padding: 5px 12px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s;
    margin-bottom: 10px;
  }

  .menu .btn a:hover {}

  .menu>ul>li>.submenu-1 {
    position: absolute;
    top: 58%;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
    padding: 5px;
    list-style: none;
    transform: translateY(50px);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  .menu>ul>li:hover>.submenu-1 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }

  .submenu-1 .deep-menu {
    display: none;
    width: 100%;
    text-align: left;
    margin: 0px;
  }

  .submenu-1 .deep-menu h5 {
    width: 100%;
    font-size: 13px;
    padding: 3px;
    padding-left: 5px;
    margin-bottom: 0;
  }

  .menu ul li:hover {
    display: block;
    flex-direction: column;
  }

  .submenu-1>.deep-menu {
    display: block;
    width: 100%;
  }

  .submenu-1>.deep-menu li {
    display: inline-block;
    list-style: none;
    padding: 0px 0;
    margin-top: 8px;
  }

  .submenu-1>.deep-menu>ul {
    width: 100%;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  .submenu-1>.deep-menu>ul>li {
    margin: 0;
  }

  .submenu-1>.deep-menu>ul>li a {
    display: inline-block;
    line-height: 12px;
    padding: 3px 10px;
    font-size: 12px;
    padding-left: 5px;
    border-radius: 8px;
    transition: all 0.5s;
    margin-bottom: 2px;
    font-weight: 300;
  }

  .submenu-1>.deep-menu>ul>li a:hover {}

  .submenu-1 .deep-menu i {
    margin-left: auto;
    font-size: 12px;
    display: block;
  }

  .submenu-1 .toggle:checked~ul {
    max-height: 100%;
    overflow: visible;
  }

  /*--- menu end ---*/


  .video-editing-banner .banner-container {
    height: 100%;
  }


  .video-editing-banner .banner-container .bannerlayer .title h1 {
    color: whitesmoke;
    z-index: 9;
    font-size: 25px;
  }

  .video-editing-banner .banner-container .bannerlayer .title .ytbtn {
    margin-top: 10px;
  }

  .video-editing-banner .banner-container .bannerlayer .title .ytbtn a {
    font-size: 15px;
  }

  .video-editing-banner .banner-container .swiper .swiper-button-next {
    margin-right: 0px;
    color: whitesmoke;
  }

  .video-editing-banner .banner-container .swiper .swiper-button-prev {
    margin-left: 10px;
    color: whitesmoke;
  }

  .absolute-on-banner .row .box-container .col {
    background: var(--bg-color);
    margin-bottom: 10px;
    padding: 3px;
    min-width: 200px;
    flex-basis: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 10px gray;
    transition: all 0.4s;
  }

  .absolute-on-banner .row .box-container .col img {
    height: 100%;
    object-position: center;
  }

  .video-editing-services {
    margin-bottom: 70px;
  }
  .video-editing-services .row{
    padding: 20px 0;
  }
  
  .video-editing-services .row .section-heading h1 {
    font-size: 30px;
    margin-bottom:15px;
  }
  .video-editing-works .works{
    justify-content: space-around;
  }
  .video-editing-works .active-work .work {
    flex-basis: 250px;
    min-width: 200px;
    margin: 15px 5px;
    flex-grow: 1;
  }
  .video-editing-works .works .work h2{
    font-size: 22px;
    margin: 5px 0;
  }
  .video-editing-works .works .work p{
    font-size: 16px;

  }

  /* -------------section-11 start ------------------ */
  .section-11 {
    position: absolute;
    top: -8%;
    z-index: 2;
    width: 100%;
  }

  .section-11 .row {
    padding: 5px 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
  }

  .section-11 .row .msg-img {
    flex-basis: 60px;
    margin: 10px 10px;

  }

  .section-11 .row .msg-img img {
    width: 100%;
  }

  .section-11 .row .content-center {
    flex-basis: 500px;
    text-align: left;
  }

  .section-11 .row .content-center h1 {
    margin-bottom: 8px;
    font-size: 30px;
  }

  .section-11 .row .content-center p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 24px;
  }

  .section-11 .row .subscribe {
    flex-basis: 180px;
  }

  .section-11 .row .subscribe a {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;
  }

  .section-11 .row .subscribe a:hover {
    transform: translateY(-5px);
  }

  /* -------------footer start ------------------ */
  .section-footer {
    position: relative;
  }

  footer {
    padding-top: 120px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: 1;
    width: 100%;
    position: relative;
  }

  footer .row {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    flex-wrap: wrap;
  }

  footer img {
    padding: 2px;
    width: 50%;
    border-radius: 50% 50% 0% 10% / 20% 20% 10% 0%;
  }

  footer .row>div {
    flex-basis: 100%;
    padding: 10px 0;
    flex-wrap: wrap;
    margin: 5px 0;

  }

  footer .logo {
    text-align: center;
    margin: auto;
    width: 150px;
  }

  footer img {
    width: 100%;
  }

  footer .row div p {
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    line-height: 25px;
    padding: 3px;
  }

  footer .row div>.social-icons {
    list-style: none;
    display: flex;
    margin-top: 5px;
    padding: 5px 0;
  }

  footer .row div>.social-icons>li {
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: left;
    border-radius: 50%;
  }

  footer .row div>.social-icons>li>a {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s;
  }


  footer .row div>.social-icons>li>a:hover {
    transform: translateY(-10px);
  }

  footer .row .footer-links {
    width: 100%;
  }

  footer .row .footer-links ul {
    list-style: none;
  }

  footer .row h3 {
    margin-bottom: 5px;
    text-align: left;
    font-size: 18px;
  }

  footer .row .footer-links>ul li {
    text-align: left;
    margin: 5px 0;
  }

  footer .row .footer-links>ul li a {
    text-decoration: none;
    font-size: 14px;
  }

  footer .row .footer-services ul {
    list-style: none;
  }

  footer .row .footer-services ul li {
    margin: 5px 0;
    text-align: left;
  }

  footer .row .footer-services>ul li a {
    text-decoration: none;
    font-size: 14px;
  }

  footer .row .footer-contact p {
    font-size: 14px;
    margin: 0;
  }

  /* -------------copyright start ------------------ */

  .copyright {

    border: none;
  }

  .copyright .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    flex-wrap: wrap;
  }

  .copyright .row .left {
    text-align: left;
    margin: 3px 5px;
  }

  .copyright .row p {
    font-size: 14px;
  }

  .copyright .row .right {
    margin: 3px 5px;
    text-align: left;
  }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
  .container {
    width: 100%;
  }

  .toggle-btn {
    display: block;
  }

  /*  header media query start */
  .header {
    display: none;
  }

  /*  header end */

  #navbar {
    width: 100%;
    z-index: 99;
    margin-bottom: 2px;
  }

  #navbar .row {
    width: 100%;

  }

  #toggle:checked+ul {
    display: block;

  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .menu .logo {
    margin: 3px 4px;
    width: 80px;
  }

  .menu .logo img {
    width: 100%;
  }

  .menu>ul {
    flex-basis: 650px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    display: none;
    transition: all 0.2s ease-in-out;
  }

  .menu>ul>li {
    margin: 5px;
    margin-left: 0;
    position: relative;
  }

  .menu>ul>li>a {
    display: inline-block;
    padding: 4px 15px;
    margin: auto;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s;
  }

  .menu ul li:last-child {
    margin-right: 0;
  }


  .menu .btn {

    border: none;
    display: inline-block;
    width: 140px;
    display: none;
  }

  .menu .btn a {
    display: inline-block;
    font-size: 15px;
    padding: 5px 12px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s;
    margin-bottom: 10px;
    display: none;
  }

  .menu>ul>li>.submenu-1 {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    padding: 5px;
    list-style: none;
    transform: translateY(50px);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  .menu>ul>li:hover>.submenu-1 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }

  .submenu-1 .deep-menu {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0px;
  }

  .submenu-1 .deep-menu h5 {
    width: 100%;
    font-size: 13px;
    padding: 3px;
    padding-left: 5px;
    margin-bottom: 0;
  }

  .menu ul li:hover {
    display: block;
    flex-direction: column;
  }

  .submenu-1>.deep-menu {
    display: block;
    width: 100%;
  }

  .submenu-1>.deep-menu li {
    list-style: none;
    padding: 0px 0;
    margin-top: 8px;
  }

  .submenu-1>.deep-menu>ul {
    width: 100%;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  .submenu-1>.deep-menu>ul>li {
    margin: 0;
  }

  .submenu-1>.deep-menu>ul>li a {
    display: inline-block;
    line-height: 12px;
    padding: 3px 10px;
    font-size: 12px;
    padding-left: 5px;
    border-radius: 8px;
    transition: all 0.5s;
    margin-bottom: 2px;
    font-weight: 300;
  }


  .submenu-1 .deep-menu i {
    margin-left: auto;
    font-size: 12px;
    display: block;
  }

  .submenu-1 .toggle:checked~ul {
    max-height: 100%;
    overflow: visible;
  }

  #banner .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .absolute-on-banner .row {
    padding-left: 3px;
    padding-right: 3px;
  }

  /* ------------video catagories-section start ------------------ */
  .video-catagories {
    padding: 20px 0;
  }

  .video-catagories .row {
    padding-left: 3px;
    padding-right: 3px;
  }

  .video-catagories .row .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .video-catagories .row .head .left-title {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .video-catagories .row .head .left-title h1 {
    font-size: 22px;
    margin-bottom: 10px;

  }

  .video-catagories .row .head .left-title p {
    font-size: 16px;
  }

  .video-catagories .row .head .right-btn {
    flex-basis: 100%;
    text-align: left;
  }

  .video-catagories .row .head .right-btn a {
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 14px;
  }

  /*------swiper-slider-------*/
  .catagories-container .swiper {
    width: 100%;
    height: 100%;
    padding: 5px;
  }

  .catagories-container .swiper-slide {
    max-width: 420px;
    min-height: 170px;
    max-height: 190px;
  }
  .video-editing-services .row{
    padding: 20px 3px;
  }

  /* -------------section-11 start ------------------ */
  .section-11 {
    position: absolute;
    top: -8%;
    z-index: 2;
    width: 100%;
  }

  .section-11 .row {
    padding: 10px 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
  }

  .section-11 .row .msg-img {
    flex-basis: 60px;
    margin: 10px 10px;

  }

  .section-11 .row .msg-img img {
    width: 100%;
  }

  .section-11 .row .content-center {
    flex-basis: 500px;
    text-align: left;
  }

  .section-11 .row .content-center h1 {
    margin-bottom: 8px;
    font-size: 30px;
  }

  .section-11 .row .content-center p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 24px;
  }

  .section-11 .row .subscribe {
    flex-basis: 180px;
  }

  .section-11 .row .subscribe a {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;
  }

  .section-11 .row .subscribe a:hover {
    transform: translateY(-5px);
  }


  * -------------footer start ------------------ */ .section-footer {
    position: relative;
  }

  footer {
    padding-top: 140px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: 1;
    width: 100%;
    position: relative;
  }

  footer .row {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    flex-wrap: wrap;
  }

  footer img {
    padding: 2px;
    width: 50%;
    border-radius: 50% 50% 0% 10% / 20% 20% 10% 0%;
  }

  footer .row>div {
    flex-basis: 100%;
    padding: 10px 0;
    flex-wrap: wrap;
    margin: 5px 0;

  }

  footer .logo {
    text-align: center;
    margin: auto;
    width: 150px;
  }

  footer img {
    width: 100%;
  }

  footer .row div p {
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    line-height: 25px;
    padding: 3px;
  }

  footer .row div>.social-icons {
    list-style: none;
    display: flex;
    margin-top: 5px;
    padding: 5px 0;
  }

  footer .row div>.social-icons>li {
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: left;
    border-radius: 50%;
  }

  footer .row div>.social-icons>li>a {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s;
  }

  footer .row div>.social-icons>li>a i {
    color: black;
  }

  footer .row div>.social-icons>li>a:hover {
    transform: translateY(-10px);
  }

  footer .row .footer-links {
    width: 100%;
  }

  footer .row .footer-links ul {
    list-style: none;
  }

  footer .row h3 {
    margin-bottom: 5px;
    text-align: left;
    font-size: 18px;
  }

  footer .row .footer-links>ul li {
    text-align: left;
    margin: 5px 0;
  }

  footer .row .footer-links>ul li a {
    text-decoration: none;
    font-size: 14px;
  }

  footer .row .footer-services ul {
    list-style: none;
  }

  footer .row .footer-services ul li {
    margin: 5px 0;
    text-align: left;
  }

  footer .row .footer-services>ul li a {
    text-decoration: none;
    font-size: 14px;
  }

  footer .row .footer-contact p {
    font-size: 14px;
    margin: 0;
  }

  /* -------------copyright start ------------------ */

  .copyright {

    border: none;
  }

  .copyright .row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 3px;
    flex-wrap: wrap;
  }

  .copyright .row .left {
    text-align: left;
    margin: 3px 0;
  }

  .copyright .row p {
    font-size: 13px;
  }

  .copyright .row .right {
    margin: 3px 0;
    text-align: left;
  }

}



/*------------------------media query end---------------------*/