/*------------google fonts links-------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 245, 245);
}

:root {
  --theme-color: rgb(11, 71, 127);
  --btn-bg-hover: rgb(209, 223, 222);
  --primary-color: rgb(29, 7, 47);
  --secondary-color: rgb(23, 1, 43);
  --bg-color: white;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: auto;
  position: relative;
}

/* -------------web-development banner start ------------------ */
.web-Development-banner {
  height: 100%;
  display: flex;
}

.web-Development-banner .container .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.web-Development-banner .container .row .left {
  flex-basis: 45%;
  text-align: left;
}

.web-Development-banner .container .row .left .heading {
  margin-bottom: 15px;
}

.web-Development-banner .container .row .left .heading h1 {
  font-size: 45px;
  color: var(--primary-color);
  font-weight: 600;
}

.web-Development-banner .container .row .left .para {
  margin-bottom: 15px;
  font-size: 25px;
  color: var(--secondary-color);
}

.web-Development-banner .container .row .left .sub-para {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  color: var(--secondary-color);
}

.web-Development-banner .container .row .left .btn {
  text-align: left;
}

.web-Development-banner .container .row .left .btn a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 25px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  background: var(--theme-color);
  color: whitesmoke;
  transition: all 0.4s;
}

.web-Development-banner .container .row .left .btn a:hover {
  background: rgb(224, 224, 224);
  color: black;
  transform: perspective(1000px) scale(1.05) translateY(-10px);
}

.web-Development-banner .container .row .right {
  margin-bottom: 20px;
  flex-basis: 45%;

}

.web-Development-banner .container .row .right .img {
  text-align: center;
  margin: auto;
  width: 100%;
  transition: all 1s;
  transition-timing-function: ease-in;
}

.web-Development-banner .container .row .right .img:hover {
  transform: rotateY(360deg) scale(0.8);
}

.web-Development-banner .container .row .right .img img {
  width: 100%
}


/* -------------web devlopment srvices section start ------------------ */
.web-services-section {
  margin-bottom: 40px;
}

.web-services-section .container .row .heading {
  text-align: center;
  margin-bottom: 20px;
}

.web-services-section .container .row .heading h1 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 600;
}

.web-services-section .row .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
}

.web-services-section .row .active-service {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.web-services-section .row .services .service {
  flex-basis: 310px;
  text-align: center;
  margin: 10px 0;
  background: var(--bg-color);
  padding: 25px 5px;
  border-radius: 10px;
  transition: all 0.3s;
  text-align: center;
}

.web-services-section .row .services .service .img {
  margin-bottom: 15px;
}

.web-services-section .row .services .service span {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.web-services-section .row .services .service img {
  width: 100%;
}

.web-services-section .row .services .service h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.web-services-section .row .services .service p {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 35px;
  color: var(--secondary-color);
}

.web-services-section .row .services .service a {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  border-radius: 17px;
  background-color: var(--theme-color);
  color: white;
  transition: all 0.3s;
  box-shadow: 0 0 5px gray;
}

.web-services-section .row .services .service a:hover {
  background-color: rgb(224, 224, 224);
  transform: scale(1.1);
  font-size: 16px;
  color: var(--secondary-color);
}

.web-services-section .row .services .service:hover {
  background-color: var(--theme-color);
  box-shadow: 0 2px 8px gray;
  color: whitesmoke;
  transform: perspective(1000px) translateZ(40px) rotateY(20deg) scale(0.8);
}

.web-services-section .row .services .service:hover h2 {
  color: whitesmoke;
}

.web-services-section .row .services .service:hover p {
  color: whitesmoke;
  font-size: 17px;
}

.web-services-section .row .service-tab {
  margin: 15px 0;
  text-align: center;
}

.web-services-section .row .service-tab h3 {
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: 1px;
}

.web-services-section .row .service-tab span {
  margin: 0 3px;
  font-size: 15px;
  border: 1px solid white;
  padding: 3px 7px;
  border-radius: 6px;
  color: var(--secondary-color);
  cursor: pointer;
}

.web-services-section .row .service-tab .tabs {
  background-color: white;
  box-shadow: 0 0 6px 2px grey;
}

.web-services-section .row .service-tab .active-tab {
  background: var(--theme-color);
  padding: 5px 10px;
  border: none;
  color: var(--bg-color);
  box-shadow: 0 0 4px 1px grey;
}

/* -------------web technology section start ------------------ */
.website-technolgy {
  background: var(--bg-color);
}

.website-technolgy .container .row {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.website-technolgy .container .row .left {
  flex-basis: 45%;
  text-align: left;
}

.website-technolgy .container .row .left .heading {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 20px;

}

.website-technolgy .container .row .left .heading h1 {
  font-weight: 600;
}

.website-technolgy .container .row .left .para {
  font-size: 20px;
  line-height: 30px;
  color: var(--secondary-color);
}

.website-technolgy .container .row .right {
  flex-basis: 50%;
}

.website-technolgy .container .row .right .img {
  background: url('images/webDevelopmentImages/technologyBg.jp');
  position: relative;
  text-align: left;
}

.website-technolgy .container .row .right img {
  width: 70%;
  margin-bottom: 30px;
}

.website-technolgy .container .row .right .lang {
  width: 50px;
  margin-right: 20px;
}

/* -------------web features section start ------------------ */

.web-features .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.web-features .container .row .left {
  flex-basis: 45%;
  color: var(--secondary-color);
  text-align: left;
}

.web-features .container .row .left .heading {
  margin-bottom: 20px;
}

.web-features .container .row .left .heading h1 {
  font-size: 40px;
  font-weight: 600;
  color: var(--primary-color);
}

.web-features .container .row .left .para {
  margin-bottom: 25px;
}

.web-features .container .row .left .para p {
  font-size: 20px;
  line-height: 25px;
  color: var(--secondary-color);
}

.web-features .container .row .left .feature-container {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.web-features .container .row .left .feature-container .feature {
  flex-basis: 175px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.web-features .container .row .right {
  flex-basis: 50%;
}

.web-features .container .row .right .img img {
  width: 90%;
}

/* -------------frontend-backend section start ------------------ */
.front-back-end {
  margin-bottom: 50px;
  background: var(--bg-color);
}

.front-back-end .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.front-back-end .container .row .left {
  flex-basis: 45%;
}

.front-back-end .container .row .left .img img {
  width: 100%;
}

.front-back-end .container .row .right {
  flex-basis: 50%;
  text-align: left;
}

.front-back-end .container .row .right .heading {
  margin-bottom: 15px;
}

.front-back-end .container .row .right .heading h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
  color: var(--primary-color);
}

.front-back-end .container .row .right .para {
  margin-bottom: 15px;
}

.front-back-end .container .row .right .para p {
  font-size: 20px;
  line-height: 25px;
  color: var(--secondary-color);
}

.front-back-end .container .row .right .box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.front-back-end .container .row .right .box-container .box {
  flex-basis: 240px;
  display: flex;
  background: var(--theme-color);
  padding: 10px;
  margin-bottom: 10px;
}

.front-back-end .container .row .right .box-container .box span {
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 18px;
  background: rgb(209, 223, 222);
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  color: blueviolet;
  font-weight: 500;
  margin-right: 10px;
}

.front-back-end .container .row .right .box-container .box .title p {
  font-size: 17px;
  color: whitesmoke;
}


/*------------------------media query start---------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {

  .container {
    width: 80%;
    margin: auto;
    position: relative;
  }

  .section-4 {
    width: 100%;
  }

  .section-4 .row {
    padding: 0;
  }

  .section-4 .row .content-row {
    width: 100%;
  }

  .section-4 .row .content-row h2 {
    margin: auto;
    font-size: 21px;
    margin-bottom: 10px;
    text-align: center;

  }

  .section-4 .row .content-row .max-para {
    font-size: 30px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
  }

  .section-4 .row .content-row .mini-para {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .section-4 .row .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .section-4 .row .box .box-item {
    padding: 15px;
    flex-basis: 350px;
    margin-bottom: 25px;
    border-radius: 7px;
    overflow: hidden;
    transition: all 0.3s;
  }

  .section-4 .row .box .box-item .img {
    margin: 30px 0;
  }

  .section-4 .row .box .box-item h3 {
    font-size: 22px;
    margin: 20px 0;
  }

  .section-4 .row .box .box-item p {
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .section-4 .row .box .box-item span {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;

  }

  .section-4 .row .box .box-item span i {
    display: inline-block;
    font-size: 40px;
    font-weight: 200;
    margin: auto;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .section-4 .row .box .box-item:hover {
    transform: translateY(-20px);
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) and (max-width:1200px) {

  .container {
    width: 90%;
  }

  .web-Development-banner .container .row .left .heading {
    margin-bottom: 10px;
  }

  .web-Development-banner .container .row .left .heading h1 {
    font-size: 35px;
  }

  .web-Development-banner .container .row .left .para {
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--secondary-color);
  }

  .web-Development-banner .container .row .left .sub-para {
    font-size: 15px;
    letter-spacing: 1px;
  }

  .web-services-section .row .services .service {
    flex-basis: 300px;
    text-align: center;
    margin: 10px 0;
    background: var(--bg-color);
    padding: 25px 5px;
    border-radius: 10px;
    transition: all 0.3s;
    text-align: center;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:1024px) {

  .container {
    width: 95%;
  }

  .web-Development-banner .container .row {
    justify-content: space-between;
    margin: 10px 0;
  }

  .web-Development-banner .container .row .left {
    flex-basis: 50%;
  }

  .web-Development-banner .container .row .left .heading {
    margin-bottom: 10px;
  }

  .web-Development-banner .container .row .left .heading h1 {
    font-size: 30px;
  }

  .web-Development-banner .container .row .left .para {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .web-Development-banner .container .row .left .sub-para {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .web-Development-banner .container .row .left .btn a {
    padding: 7px 20px;
    font-size: 18px;
  }

  .web-Development-banner .container .row .right {
    flex-basis: 40%;
  }


  .web-services-section .row .services {
    justify-content: space-around;
  }

  .web-services-section .row .services .service {
    flex-basis: 300px;
    margin: 10px auto;
    padding: 15px 3px;
  }

  .web-services-section .row .services .service .img {
    margin-bottom: 10px;
  }

  .web-services-section .row .services .service span {
    display: inline-block;
    width: 100px;
    height: 100px;
  }



  .web-services-section .row .services .service h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--primary-color);
  }

  .web-services-section .row .services .service p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--secondary-color);
  }

  .web-services-section .row .services .service a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
    border-radius: 17px;
    background-color: var(--theme-color);
    color: white;
    transition: all 0.3s;
    box-shadow: 0 0 5px gray;
  }

  .website-technolgy .container .row .left .heading {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .website-technolgy .container .row .left .para {
    font-size: 17px;
    line-height: 25px;
  }

  .website-technolgy .container .row .right img {
    width: 70%;
    margin-bottom: 25px;
  }

  .website-technolgy .container .row .right .lang {
    width: 43px;
    margin-right: 15px;
  }

  /* -------------web features section start ------------------ */

  .web-features .container .row .left {
    flex-basis: 50%;
    color: var(--secondary-color);
    text-align: left;
  }

  .web-features .container .row .left .heading {
    margin-bottom: 15px;
  }

  .web-features .container .row .left .heading h1 {
    font-size: 35px;
  }

  .web-features .container .row .left .para {
    margin-bottom: 15px;
  }

  .web-features .container .row .left .para p {
    font-size: 17px;
    line-height: 22px;
  }

  .web-features .container .row .left .feature-container {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  .web-features .container .row .left .feature-container .feature {
    flex-basis: 175px;
    align-items: center;
  }

  .web-features .container .row .right .img img {
    width: 90%;
  }


  .front-back-end .container .row .left {
    flex-basis: 50%;
  }

  .front-back-end .container .row .right .heading {
    margin-bottom: 15px;
  }

  .front-back-end .container .row .right .heading h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .front-back-end .container .row .right .para {
    margin-bottom: 10px;
  }

  .front-back-end .container .row .right .para p {
    font-size: 18px;
    line-height: 22px;
  }

  .front-back-end .container .row .right .box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .front-back-end .container .row .right .box-container .box {
    flex-basis: 180px;
    padding: 10px;
  }

  .front-back-end .container .row .right .box-container .box span {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 18px;
    padding: 0 13px;
  }

  .front-back-end .container .row .right .box-container .box .title p {
    font-size: 16px;
    color: whitesmoke;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) {

  .container {
    width: 95%;
    margin: auto;
  }

  .web-Development-banner .container .row {
    padding-left: 3px;
    padding-right: 3px;
  }

  .web-Development-banner .container .row {
    margin: 20px 0;
  }

  .web-Development-banner .container .row .left {
    flex-basis: 100%;
    padding: 20px 0;
  }

  .web-Development-banner .container .row .left .heading {
    margin: 15px 0;
  }

  .web-Development-banner .container .row .left .heading h1 {
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 600;
  }

  .web-Development-banner .container .row .left .para {
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--secondary-color);
  }

  .web-Development-banner .container .row .left .sub-para {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;

  }

  .web-Development-banner .container .row .left .btn {
    text-align: left;
  }

  .web-Development-banner .container .row .left .btn a {
    display: inline-block;
    text-decoration: none;
    padding: 6px 25px;
    font-size: 17px;
    border-radius: 7px;
  }

  .web-Development-banner .container .row .right {
    flex-basis: 100%;
  }

  .web-Development-banner .container .row .right img {
    max-width: 70%;
  }

  .web-services-section .row .heading h1 {
    font-size: 25px;
  }

  .web-services-section .container .row .heading h1 {
    font-size: 25px;
  }

  .web-services-section .row .services {
    justify-content: space-around;
  }

  .web-services-section .row .services .service {
    flex-basis: 280px;
    flex-grow: 1;
    margin: 10px 3px;
    padding: 15px 3px;
  }

  .web-services-section .row .services .service .img {
    margin-bottom: 10px;
  }

  .web-services-section .row .services .service span {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .web-services-section .row .services .service img {
    width: 100%;
  }

  .web-services-section .row .services .service h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .web-services-section .row .services .service p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
  }

  .web-services-section .row .services .service a {
    font-size: 14px;
    padding: 7px 15px;
    text-align: center;
    border-radius: 15px;
  }

  .website-technolgy .container .row {
    flex-wrap: wrap;
  }

  .website-technolgy .container .row .left {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .website-technolgy .container .row .left .heading {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .website-technolgy .container .row .left .para {
    font-size: 17px;
    line-height: 25px;
  }

  .website-technolgy .container .row .right {
    flex-basis: 100%;
  }

  .website-technolgy .container .row .right img {
    width: 60%;
    margin-bottom: 25px;
  }

  .website-technolgy .container .row .right .lang {
    width: 9%;
    margin-right: 15px;
  }

  /* -------------web features section start ------------------ */

  .web-features .container .row {
    flex-wrap: wrap;
  }

  .web-features .container .row .left {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .web-features .container .row .left .feature-container .feature {
    flex-basis: 180px;
    margin-bottom: 20px;
  }

  .web-features .container .row .right {
    flex-basis: 100%;
  }

  .web-features .container .row .right .img {
    text-align: center;
  }

  .web-features .container .row .right .img img {
    width: 90%;
  }



  .front-back-end .container .row {
    flex-wrap: wrap;
  }

  .front-back-end .container .row .left {
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .front-back-end .container .row .left .img img {
    width: 80%;
  }

  .front-back-end .container .row .right {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .front-back-end .container .row .right .heading {
    margin-bottom: 10px;
  }

  .front-back-end .container .row .right .heading h1 {
    margin-bottom: 20px;
    font-size: 35px;
  }

  .front-back-end .container .row .right .para {
    margin-bottom: 10px;
  }

  .front-back-end .container .row .right .para p {
    font-size: 18px;
    line-height: 22px;
  }

  .front-back-end .container .row .right .box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .front-back-end .container .row .right .box-container .box {
    flex-basis: 180px;
    padding: 10px;
  }

  .front-back-end .container .row .right .box-container .box span {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 18px;
    padding: 0 13px;
  }

  .front-back-end .container .row .right .box-container .box .title p {
    font-size: 16px;
    color: whitesmoke;
  }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
  .container {
    width: 100%;
  }

  .web-Development-banner .container .row {
    margin: 5px 3px;
  }

  .web-Development-banner .container .row {
    padding-left: 3px;
    padding-right: 3px;
  }

  .web-Development-banner .container .row .right img {
    flex-basis: 100%;
  }

  .web-services-section .row .heading h1 {
    font-size: 25px;
  }

  .web-services-section .container .row .heading h1 {
    font-size: 23px;
  }

  .web-services-section .row .services .service {
    flex-basis: 280px;
    flex-grow: 1;
    margin: 10px 3px;
    padding: 15px 3px;
  }

  .web-services-section .row .services .service .img {
    margin-bottom: 10px;
  }

  .web-services-section .row .services .service span {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .web-services-section .row .services .service h2 {
    font-size: 22px;
  }

  .web-services-section .row .services .service p {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 20px;
  }

  .website-technolgy .container .row {
    padding-left: 3px;
    padding-right: 3px;
  }

  .website-technolgy .container .row .left {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .website-technolgy .container .row .left .heading {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .website-technolgy .container .row .left .para {
    font-size: 16px;
  }

  .website-technolgy .container .row .left .para p {
    line-height: 23px;
  }


  .web-features .container .row {
    padding-left: 3px;
    padding-right: 3px;
  }

  .web-features .container .row .left .heading {
    margin-bottom: 10px;
  }

  .web-features .container .row .left .heading h1 {
    font-size: 25px;
  }

  .web-features .container .row .left .para {
    margin-bottom: 20px;
  }

  .web-features .container .row .left .para p {
    font-size: 16px;
    line-height: 22px;
  }

  .web-features .container .row .right img {
    width: 100%;
  }

  .front-back-end {
    margin-bottom: 80px;
  }

  .front-back-end .container .row {
    padding-left: 3px;
    padding-right: 3px;
  }

  .front-back-end .container .row .left {
    margin-bottom: 10px;
  }

  .front-back-end .container .row .left .img img {
    width: 100%;
  }

  .front-back-end .container .row .right .heading {
    margin-bottom: 10px;
  }

  .front-back-end .container .row .right .heading h1 {
    margin-bottom: 10px;
    font-size: 25px;
  }

  .front-back-end .container .row .right .para p {
    font-size: 16px;
    line-height: 22px;
  }

  .front-back-end .container .row .right .box-container {
    justify-content: space-between;
  }

  .front-back-end .container .row .right .box-container .box {
    flex-basis: 180px;
    flex-grow: 1;
  }

  .front-back-end .container .row .right .box-container .box span {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 17px;
    padding: 0 9px;
  }

  .front-back-end .container .row .right .box-container .box .title p {
    font-size: 16px;
    color: whitesmoke;
  }

}



/*------------------------media query end---------------------*/